[submodule "mockups/ui/lib.monoSnippets"]
	path = mockups/ui/lib.monoSnippets
	url = http://github.com/monoceroi/monoSnippets.git
[submodule "mockups/ui/lib.jquery"]
	path = mockups/ui/lib.jquery
	url = http://github.com/jquery/jquery.git
[submodule "mockups/ui/lib.less.js"]
	path = mockups/ui/lib.less.js
	url = http://github.com/monoceroi/less.js.git
[submodule "mockups/ui/lib.monoTwitterEngine"]
	path = mockups/ui/lib.monoTwitterEngine
	url = http://github.com/monoceroi/monoTwitterEngine.git
