[submodule "frontend/ui/lib.monoSnippets"]
	path = frontend/ui/lib.monoSnippets
	url = git://github.com/monoceroi/monoSnippets.git
[submodule "frontend/ui/lib.jquery"]
	path = frontend/ui/lib.jquery
	url = git://github.com/jquery/jquery.git
[submodule "frontend/ui/lib.less.js"]
	path = frontend/ui/lib.less.js
	url = git://github.com/monoceroi/less.js.git
[submodule "frontend/ui/lib.LABjs"]
	path = frontend/ui/lib.LABjs
	url = git://github.com/monoceroi/LABjs.git
[submodule "frontend/ui/lib.html5shiv"]
	path = frontend/ui/lib.html5shiv
	url = git://github.com/monoceroi/html5shiv.git
[submodule "frontend/ui/lib.borderImage"]
	path = frontend/ui/lib.borderImage
	url = git://github.com/lrbabe/borderimage.git
[submodule "frontend/ui/lib.eCSStender"]
	path = frontend/ui/lib.eCSStender
	url = git://github.com/easy-designs/eCSStender.js.git
[submodule "externals/pictorial"]
	path = externals/pictorial
	url = git://github.com/monoceroi/pictorial.git
[submodule "frontend/ui/lib.jsClass"]
	path = frontend/ui/lib.jsClass
	url = git://github.com/jcoglan/js.class.git
[submodule "frontend/ui/lib.monoDate"]
	path = frontend/ui/lib.monoDate
	url = git://github.com/monoceroi/monoDate.git
[submodule "frontend/ui/lib.tidyCJK.js"]
	path = frontend/ui/lib.tidyCJK.js
	url = git://github.com/monoceroi/tidyCJK.js.git
[submodule "frontend/ui/lib.jStorage"]
	path = frontend/ui/lib.jStorage
	url = git://github.com/iridia/jStorage.git
[submodule "frontend/ui/lib.irCalendarEngine"]
	path = frontend/ui/lib.irCalendarEngine
	url = git://github.com/iridia/irCalendarEngine.git
[submodule "frontend/ui/lib.jquery-jsonp"]
	path = frontend/ui/lib.jquery-jsonp
	url = git://github.com/iridia/jquery-jsonp.git
[submodule "frontend/ui/lib.monoArray"]
	path = frontend/ui/lib.monoArray
	url = git://github.com/monoceroi/monoArray
[submodule "externals/thematic"]
	path = externals/thematic
	url = git://github.com/iridia/thematic.git
[submodule "frontend/ui/lib.monoString"]
	path = frontend/ui/lib.monoString
	url = git://github.com/monoceroi/monoString.git
[submodule "frontend/ui/lib.PIE"]
	path = frontend/ui/lib.PIE
	url = git://github.com/lojjic/PIE.git
[submodule "frontend/ui/lib.flesler"]
	path = frontend/ui/lib.flesler
	url = git://github.com/monoceroi/flesler-plugins.git
