html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-style: inherit;
}
input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
abbr, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video { display: block; }
.inlineBlock {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.doubleEngravedText { text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px -1px 0px; }
.withDownwardsArrow:before {
  content: "";
  font-family: "Wingdings";
}
.deselection {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.link { cursor: pointer; }
.thinStroke { -webkit-text-stroke: 1px transparent; }
.d * {
  background-color: rgba(255, 255, 255, 0.05);
  outline: 1px solid rgba(255, 255, 255, 0.2);
}
.d *:hover { background-color: rgba(255, 255, 255, 0.25); }
.razorSplitHorizontal {
  content: "";
  display: block;
  width: 0px;
  margin-left: -1px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.45);
  margin-right: -1px;
}
.razorSplitHorizontalReversed {
  content: "";
  display: block;
  width: 0px;
  margin-left: -1px;
  border-left: 1px solid rgba(255, 255, 255, 0.45);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: -1px;
}
.upwardsShadow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, #000000));
  background: -moz-linear-gradient(center top, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.upwardsShadowBlock {
  content: "";
  display: block;
  position: relative;
  top: 4px;
  margin-top: -4px;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, #000000));
  background: -moz-linear-gradient(center top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  margin-left: 0px;
  margin-right: 0px;
  opacity: 0.35;
}
.downwardsShadow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(center top, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.downwardsShadowBlock {
  content: "";
  display: block;
  position: relative;
  top: 4px;
  margin-top: -4px;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(center top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  margin-left: 0px;
  margin-right: 0px;
  opacity: 0.35;
}
h1, h2, h3, h4, h5, h6, h7 { font-weight: normal; }
html { background-color: #ccd9c4; }
body {
  font-family: "Vegur", "Lucida Grande", "Lucida Unicode", "Helvetica", "Arial", "LiHei Pro", sans-serif;
  width: 936px;
  min-width: 936px;
  max-width: 936px;
  padding: 0 72px;
  margin: 0 auto;
}
header {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 144px;
}
header h1 {
  float: left;
  height: 144px;
  width: 288px;
  background: url(arboreal.logotype.main.png) no-repeat left bottom;
}
header h1 span { display: none; }
header nav {
  float: right;
  margin-top: 81px;
}
header nav ul {
  height: 46px;
  border: 4px solid #9cb992;
  background: #a5c39a;
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 4.5px 4.5px 4.5px;
  -o-border-radius: 4.5px 4.5px 4.5px 4.5px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  -uu-border-radius: 4.5px 4.5px 4.5px 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px -1px 0px, rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px -1px 0px, rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.35) 0px -1px 0px, rgba(255, 255, 255, 0.5) 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -1px 0px, rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -uu-box-shadow: rgba(0, 0, 0, 0.35) 0px -1px 0px, rgba(255, 255, 255, 0.5) 0px 1px 0px;
  overflow: visible;
}
header nav ul li {
  position: relative;
  display: block;
  float: left;
  font-size: 18px;
  line-height: 54px;
  color: #204c00;
  width: 108px;
  height: 54px;
  margin-top: -4px;
  text-align: center;
  vertical-align: middle;
}
header nav ul li:first-child {
  margin-left: -4px;
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 0 0 4.5px;
  -o-border-radius: 4.5px 0 0 4.5px;
  border-radius: 4.5px 0 0 4.5px;
  -uu-border-radius: 4.5px 0 0 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
}
header nav ul li:last-child {
  margin-right: -4px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 0 4.5px 4.5px 0;
  -o-border-radius: 0 4.5px 4.5px 0;
  border-radius: 0 4.5px 4.5px 0;
  -uu-border-radius: 0 4.5px 4.5px 0;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
}
header nav ul li + li:before {
  content: "";
  display: block;
  width: 0px;
  margin-left: -1px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.45);
  margin-right: -1px;
  position: absolute;
  left: -1;
  height: 54px;
}
header nav ul li a {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
header nav ul li.information a { background: url(arboreal.navigationBar.information.png) center no-repeat; }
header nav ul li.information:hover a { background: url(arboreal.navigationBar.information.hover.png) center no-repeat; }
header nav ul li.information.active a { background: url(arboreal.navigationBar.information.active.png) center no-repeat; }
header nav ul li.information a span { display: none; }
header nav ul li:hover {
  background: rgba(0, 0, 0, 0.25);
  color: white;
  text-shadow: none;
}
header nav ul li.hover {
  background: rgba(0, 0, 0, 0.25);
  color: white;
  text-shadow: none;
}
header nav ul li + li:hover:before {
  content: "";
  display: block;
  width: 0px;
  margin-left: -1px;
  border-left: 1px solid rgba(255, 255, 255, 0.45);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: -1px;
  position: absolute;
  left: -1;
  height: 54px;
}
header nav ul li + li.hover:before {
  content: "";
  display: block;
  width: 0px;
  margin-left: -1px;
  border-left: 1px solid rgba(255, 255, 255, 0.45);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: -1px;
  position: absolute;
  left: -1;
  height: 54px;
}
header nav ul li {
  text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px -1px 0px;
  background: none;
}
header nav ul li:before {
  content: "";
  display: block;
  width: 0px;
  margin-left: -1px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.45);
  margin-right: -1px;
}
header nav ul li.active {
  text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px -1px 0px;
  background: none;
}
header nav ul li.active:before {
  content: "";
  display: block;
  width: 0px;
  margin-left: -1px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.45);
  margin-right: -1px;
}
header nav ul li.active:hover {
  text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px -1px 0px;
  background: none;
}
header nav ul li.active:hover:before {
  content: "";
  display: block;
  width: 0px;
  margin-left: -1px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.45);
  margin-right: -1px;
}
header nav ul li.active { color: #102600; }
header nav ul li.active:hover { color: #102600; }
header nav ul li.active:after {
  content: "";
  display: block;
  width: 18px;
  height: 36px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 100%;
  margin-top: -18px;
  background: url(arboreal.navigationBar.active.indicator.png) center no-repeat;
}
header + * { clear: both; }
.gallery {
  height: 360px;
  margin: 0px -36px 0px -36px;
  padding: 36px;
  position: relative;
}
.gallery:before {
  content: "";
  display: block;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1024;
  -o-border-image: url(arboreal.gallery.cover.png) 72 72 72 108 round round;
  -icab-border-image: url(arboreal.gallery.cover.png) 72 72 72 108 round round;
  -khtml-border-image: url(arboreal.gallery.cover.png) 72 72 72 108 round round;
  -moz-border-image: url(arboreal.gallery.cover.png) 72 72 72 108 round round;
  -webkit-border-image: url(arboreal.gallery.cover.png) 72 72 72 108 round round;
  border-image: url(arboreal.gallery.cover.png) 72 72 72 108 round round;
  border-top-width: 72px;
  border-right-width: 72px;
  border-bottom-width: 72px;
  border-left-width: 108px;
}
.gallery > li {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: black;
}
.gallery li.spotties {
  background: transparent;
  top: auto;
  right: 18px;
  bottom: 13.5px;
  left: auto;
  z-index: 2048;
  display: table;
  border-spacing: 9px 0px;
}
.gallery li.spotties li {
  display: table-cell;
  width: 9px;
  height: 9px;
  width: 9px;
  min-width: 9px;
  max-width: 9px;
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 4.5px 4.5px 4.5px;
  -o-border-radius: 4.5px 4.5px 4.5px 4.5px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  -uu-border-radius: 4.5px 4.5px 4.5px 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  background: #585858;
  opacity: 0.55;
  -webkit-transition: all 0.125s linear;
  -moz-transition: all 0.125s linear;
  -o-transition: all 0.125s linear;
  transition: all 0.125s linear;
  cursor: pointer;
}
.gallery li.spotties li.active { opacity: 1; }
.gallery li.spotties li:hover { opacity: 1; }
.context {
  margin-top: 36px;
  margin-left: -36px;
  margin-right: -36px;
  border-spacing: 36px 0;
  display: table;
}
.context > * {
  display: table-cell;
  vertical-align: top;
}
.calendar {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 252px;
  min-width: 252px;
  max-width: 252px;
  padding: 0 18px;
  background-color: #f5f5f5;
  border: 1px solid white;
  margin: -1px;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -o-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  -uu-border-radius: 9px 9px 9px 9px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 1px;
  -uu-box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 1px;
}
.calendar h2 {
  font-size: 16px;
  line-height: 36px;
  color: inherit;
  text-align: center;
  font-weight: bold;
  position: relative;
  margin-bottom: 18px;
}
.calendar h2:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 18px;
  left: 0;
  background: url(arboreal.calendar.sunday.png) center no-repeat;
  background-color: #f5f5f5;
}
.calendar h2:after {
  content: "";
  display: block;
  height: 0px;
  margin-top: 17px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  margin-bottom: 17px;
  margin: 0 -18px 0 -18px;
}
.calendar time {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  color: inherit;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.35);
}
.calendar br {
  width: 0px;
  height: 0px;
  clear: both;
}
.calendar .active { color: rgba(0, 0, 0, 0.6); }
.calendar .today {
  color: black;
  background: #dfe1db;
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 4.5px 4.5px 4.5px;
  -o-border-radius: 4.5px 4.5px 4.5px 4.5px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  -uu-border-radius: 4.5px 4.5px 4.5px 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
}
.calendar .closed { color: rgba(0, 0, 0, 0.1); }
.calendar .leadingSunday { margin-left: 0px; }
.calendar .leadingMonday { margin-left: 36px; }
.calendar .leadingTuesday { margin-left: 72px; }
.calendar .leadingWednesday { margin-left: 108px; }
.calendar .leadingThursday { margin-left: 144px; }
.calendar .leadingFriday { margin-left: 180px; }
.calendar .leadingSaturday { margin-left: 216px; }
.calendar .details {
  clear: left;
  background: #404a36;
  margin: 18px -19px 9px -19px;
  padding: 9px 0;
}
.calendar .details:before {
  content: "";
  display: block;
  position: relative;
  top: 4px;
  margin-top: -4px;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(center top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  margin-left: 0px;
  margin-right: 0px;
  opacity: 0.35;
  top: -4px;
}
.calendar .details:after {
  content: "";
  display: block;
  position: relative;
  top: 4px;
  margin-top: -4px;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, #000000));
  background: -moz-linear-gradient(center top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  margin-left: 0px;
  margin-right: 0px;
  opacity: 0.35;
  top: 8px;
}
.calendar .details li {
  cursor: pointer;
  height: 52px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 9px 19px;
  color: white;
}
.calendar .details li:hover {
  background: rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.calendar .details li.active {
  background: rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.calendar .details time {
  display: block;
  width: auto;
  height: auto;
  float: none;
  text-align: left;
  font-weight: normal;
  color: inherit;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
}
.calendar .details span {
  font-size: 24px;
  line-height: 36px;
  color: inherit;
  -webkit-text-stroke: 1px transparent;
}
.calendar .details a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  float: right;
  width: 36px;
  height: 36px;
  background: url(arboreal.calendar.information.png) center no-repeat;
}
.calendar .details a span { display: none; }
.twitterStream {
  -o-border-image: url(arboreal.article.twitterStream.backdrop.png) 36 36 36 108 round round;
  -icab-border-image: url(arboreal.article.twitterStream.backdrop.png) 36 36 36 108 round round;
  -khtml-border-image: url(arboreal.article.twitterStream.backdrop.png) 36 36 36 108 round round;
  -moz-border-image: url(arboreal.article.twitterStream.backdrop.png) 36 36 36 108 round round;
  -webkit-border-image: url(arboreal.article.twitterStream.backdrop.png) 36 36 36 108 round round;
  border-image: url(arboreal.article.twitterStream.backdrop.png) 36 36 36 108 round round;
  border-top-width: 36px;
  border-right-width: 36px;
  border-bottom-width: 36px;
  border-left-width: 108px;
  margin: -18px -18px 0 -18px;
}
.twitterStream div { margin-left: -72px; }
.twitterStream span {
  font-size: 24px;
  line-height: 36px;
  color: #032400;
  text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px, rgba(0, 0, 0, 0.05) 0px -1px 0px, rgba(0, 0, 0, 0.05) 0px 0px 4.5px;
  -webkit-text-stroke: 1px transparent;
}
.twitterStream a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 36px;
  height: 36px;
  vertical-align: bottom;
  background: url(arboreal.article.twitterStream.information.png) center no-repeat;
}
.twitterStream a span { display: none; }
.twitterStream time {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  float: right;
  margin-top: 18px;
  font-size: 12px;
  line-height: 18px;
  color: inherit;
}
.blogPosts {
  -o-border-image: url(arboreal.article.blogPosts.backdrop.png) 36 36 54 36 round round;
  -icab-border-image: url(arboreal.article.blogPosts.backdrop.png) 36 36 54 36 round round;
  -khtml-border-image: url(arboreal.article.blogPosts.backdrop.png) 36 36 54 36 round round;
  -moz-border-image: url(arboreal.article.blogPosts.backdrop.png) 36 36 54 36 round round;
  -webkit-border-image: url(arboreal.article.blogPosts.backdrop.png) 36 36 54 36 round round;
  border-image: url(arboreal.article.blogPosts.backdrop.png) 36 36 54 36 round round;
  border-top-width: 36px;
  border-right-width: 36px;
  border-bottom-width: 54px;
  border-left-width: 36px;
  margin: 0 -18px;
  padding-bottom: 18px;
}
.blogPosts h2 {
  font-size: 20px;
  line-height: 36px;
  color: #274925;
  margin-left: 144px;
  text-indent: -144px;
  text-shadow: rgba(255, 255, 255, 0.65) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px -1px 0px;
}
.blogPosts h2 time {
  text-indent: 0;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 144px;
  font-weight: bold;
}
.blogPosts p {
  font-size: 13px;
  line-height: 18px;
  color: #595959;
  margin-left: 144px;
  margin-top: 9px;
}
.blogPosts li + li:before {
  content: "";
  display: block;
  height: 0px;
  margin-top: 17px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  margin-bottom: 17px;
  margin-left: -18px;
  margin-right: -18px;
}
.blogPosts .more {
  cursor: pointer;
  height: 36px;
  margin-bottom: -36px;
  background: url(arboreal.article.blogPosts.more.png) center right no-repeat;
}
.blogPosts .more span { display: none; }
footer {
  margin-top: -1px;
  border-top: 1px solid rgba(255, 255, 255, 0.65);
  font-size: 14px;
  line-height: 72px;
  color: #262626;
  text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px -1px 0px, rgba(255, 255, 255, 0.2) 0px 0px 1px;
  position: absolute;
  left: 0px;
  right: 0px;
  background: #7e8c70;
  white-space: nowrap;
}
footer div {
  overflow-y: hidden;
  height: 72px;
  width: 936px;
  margin: 0 auto;
}
footer div * { display: inline; }
footer ul li { margin-right: 18px; }
footer ul li:last-child { margin-right: 0; }
footer .credits {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 144px;
  height: 72px;
  float: right;
}
footer .credits span { display: none; }
footer:before {
  content: "";
  display: block;
  position: relative;
  top: 4px;
  margin-top: -4px;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(center top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  margin-left: 0px;
  margin-right: 0px;
  opacity: 0.35;
}
