html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-style: inherit;
}
input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
abbr, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video { display: block; }
.inlineBlock {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.doubleEngravedText { text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px -1px 0px; }
.withDownwardsArrow:before {
  content: "";
  font-family: "Wingdings";
}
.d * {
  background-color: rgba(255, 255, 255, 0.05);
  outline: 1px solid rgba(255, 255, 255, 0.2);
}
.d *:hover { background-color: rgba(255, 255, 255, 0.25); }
html { background-color: #ccd9c4; }
body {
  width: 832px;
  margin: 0 auto;
}
header { height: 128px; }
header h1 span { display: none; }
.gallery { height: 384px; }
aside .calendar {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  padding: 0 8px;
}
aside .calendar time {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 32px;
  text-align: center;
}
aside .calendar .sunday { margin-left: 0px; }
aside .calendar .monday { margin-left: 32px; }
aside .calendar .tuesday { margin-left: 64px; }
aside .calendar .wednesday { margin-left: 96px; }
aside .calendar .thursday { margin-left: 128px; }
aside .calendar .friday { margin-left: 160px; }
aside .calendar .saturday { margin-left: 192px; }
aside .calendar .details time {
  display: inherit;
  width: auto;
  text-align: left;
}
