html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-style: inherit;
}
input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
abbr, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video { display: block; }
.inlineBlock {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.doubleEngravedText { text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px -1px 0px; }
.withDownwardsArrow:before {
  content: "";
  font-family: "Wingdings";
}
.d * {
  background-color: rgba(255, 255, 255, 0.05);
  outline: 1px solid rgba(255, 255, 255, 0.2);
}
.d *:hover { background-color: rgba(255, 255, 255, 0.25); }
html { background-color: #ccd9c4; }
body {
  width: 936px;
  margin: 0 auto;
}
header { height: 144px; }
header h1 {
  float: left;
  height: 144px;
  width: 288px;
  background: url(arboreal.logotype.main.png) no-repeat left bottom;
}
header h1 span { display: none; }
header nav { float: right; }
header nav ul li { display: inline; }
header + * { clear: both; }
.gallery { height: 432px; }
aside .calendar {
  width: 270px;
  min-width: 270px;
  max-width: 270px;
  padding: 0 9px;
}
aside .calendar time {
  display: block;
  float: left;
  width: 36px;
  text-align: center;
}
aside .calendar .leadingSunday { margin-left: 0px; }
aside .calendar .leadingMonday { margin-left: 36px; }
aside .calendar .leadingTuesday { margin-left: 72px; }
aside .calendar .leadingWednesday { margin-left: 108px; }
aside .calendar .leadingThursday { margin-left: 144px; }
aside .calendar .leadingFriday { margin-left: 180px; }
aside .calendar .leadingSaturday { margin-left: 216px; }
aside .calendar .details { clear: left; }
aside .calendar .details time {
  display: block;
  float: none;
  width: auto;
  text-align: left;
}
