/*	arboreal.style.animations.css
	Evadne Wu at Iridia Productions.	*/





	@-webkit-keyframes arborealCalendarActionHoverAnimation {
	
		0% {
		
			background-color: rgb(153, 153, 153);
		
		}
		
		50% {
		
			background-color: rgb(96, 96, 96);
		
		}
		
		100% {
		
			background-color: rgb(153, 153, 153);
		
		}
	
	}