//	arboreal.style.less
//	Evadne Wu at Iridia, 2010

@import "lib.monoSnippets/lib.monoSnippets.reset.less";
@import "lib.monoSnippets/lib.monoSnippets.less";










//	! 
//	! 
//	! 
//	! 
//	! 
//	!Configuration ……………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Typography





	.typeMonospaced {
	
		font-family: "Panic Sans", "Menlo", "Bitstream Vera Sans Mono", "Monaco", monospace;

	}
	
	.typeSerifHumanistic {
	
	}
	
	.typeSansSerifNeo {
	
		font-family: "Vegur", "Lucida Grande", "Lucida Unicode", "Helvetica", "Arial", "LiHei Pro", sans-serif;
	
	}
	
	.typeSansSerifPaleo {
	
		font-family: "Helvetica Neue", "Helvetica", "Arial";
	
	}
	
	
	
	
	
	.arborealBlogArticleHeader {
	
		.text(20px, 36px, rgb(39, 73, 37));
		
		text-shadow:	rgba(255, 255, 255, .65) 0px 1px 0px,
				rgba(0, 0, 0, .15) 0px -1px 0px;
			
	}
	









	









	
	
	
	
	
	
	










	









//	! 
//	!Positioning

	@arborealWidth: 13 * @pack;
	@arborealSidebarWidth: 4 * @pack;
	@arborealSidebarSpacing: 4 * @slice;
	
	@arborealSideSpacing: .25 * @pack;

	@arborealNavigationBarBorderWidth: 4px;
	@arborealNavigationBarHeight: 6 * @slice;
	
	@arborealCalendarItemWidth: 4 * @slice;
	
	@arborealArticleWidth: @arborealWidth - @arborealSidebarWidth - @arborealSidebarSpacing;

	@arborealBlogPredicateBarRowHeight: 4 * @slice;
	@arborealBlogPredicateBarRowsVisible: 3;
	





//	! 
//	!Swatches
	
	@arborealBackdrop: rgb(206, 217, 195);
	@arborealNavigationBarBackdrop: rgb(180, 194, 158);
	@arborealPredicateBarBackdrop: rgb(92, 102, 92);
	@arborealFooterBackdrop: rgb(168, 176, 152);
	@arborealPanelBackdrop: rgb(245, 245, 245);
	@arborealBlogPagination: rgb(30, 43, 7);
	@arborealBlogCommentPaginationLink: rgb(71, 77, 77);
	
	
	
	






//	! 
//	! 
//	! 
//	! 
//	! 
//	!Misc ……………………………………………………………………………………………………………………………………………………………………………………………





	.recessedGreenField {
	
		.borderImage(url(arboreal.field.recessed.green.backdrop.png), 18);
		margin: -1 * @slice;
	
	}
	
	
	
	
	
	.submitButton {
	
		.link;
	
		.threePartImage(url(arboreal.button.submit.backdrop.png), 36, 45);
		
		display: block;
		height: @pack;

		.text(18px, 72px, rgb(16, 38, 0));
		text-shadow:	rgba(255, 255, 255, .4), 0px, 1px, 0px,
				rgba(0, 0, 0, .15), 0px, -1px, 0px;
				
		padding: 0 (3 * @slice) 0 (2 * @slice);
	
	}
	
	
	
	
	
	




//	! 
//	! 
//	! 
//	! 
//	! 
//	!Initialization …………………………………………………………………………………………………………………………………………………………………





	




//	! 
//	!Scaffold and Geometry
	
	
	
	
	
	html, body {
	
		min-height: 100%;
	
	}

	html {
	
		background-color: @arborealBackdrop;
	
	}
	
	body {
	
		.typeSansSerifNeo;
		
		min-width: @arborealWidth + 2 * @arborealSidebarSpacing;
		
		> * {
		
			.width(@arborealWidth);
			padding: 0 (2 * @arborealSideSpacing);
			margin: 0 auto;
		
		}
		
		position: absolute;
		width: 100%;
		min-height: 100%;
			
		overflow-y: auto;
	
	}

	h1, h2, h3, h4, h5, h6, h7 {
	
		font-weight: normal;
	
	}
	
	.context {
	
		border-spacing: @arborealSidebarSpacing 0;
		margin: (.5 * @pack) auto 0 auto;
		padding: 0px 0px (1.5 * @pack) 0px !important;
		display: table;
		
		> * {
		
			display: table-cell;
			vertical-align: top;
		
		}
		
		.width(@arborealWidth + (2 * @arborealSidebarSpacing));
		
		aside {	
		
			.width(@arborealSidebarWidth);
		
		}
		
		> nav {
		
			display: table-row;
		
		}
	
	}
	
	.blockContext {
	
		.context;
		display: block;
		.width(@arborealWidth);
		
		> * {
		
			display: block;
		
		}
	
	}
	
	.storeContext {
	
		.blockContext;
		.width(@arborealWidth + (2 * @arborealSidebarSpacing));
	
	}










	









//	! 
//	! 
//	! 
//	! 
//	! 
//	!Headers & Footers …………………………………………………………………………………………………………………………………………………………
	









//	! 
//	!Header
	
	body > header {
	
		.uaDisableSelection;
	
		height: 2 * @pack;
		
		h1 {
		
			float: left;
		
			a {
			
				display: block;
				.size(4 * @pack, 2 * @pack);	
				background: url(arboreal.logotype.main.png) no-repeat left bottom;
			
			}
		
			span {
			
				display: none;
			
			}
		
		}
	
	
	//	The navigation bar
	
		nav {
		
			.uaDisableTextZoom;
		
			float: right;
			margin-top: 9 * @slice;
			
			ul {
			
			//	A semi-transparent black overlay over a particular color
			//	@color - rgb(255, 255, 255) * percentage
			
				height: @arborealNavigationBarHeight - (2 * @arborealNavigationBarBorderWidth);
				border: @arborealNavigationBarBorderWidth solid (@arborealNavigationBarBackdrop - (rgb(255, 255, 255) * 0.05));
				background: @arborealNavigationBarBackdrop;

				.borderRadius(4.5px);
				.boxShadow2(rgba(0, 0, 0, .35), 0px, -1px, 0px, rgba(255, 255, 255, .5), 0px, 1px, 0px);
				
				overflow: visible;
			
				li {
				
					position: relative;
				
					display: block;
					float: left;
					
					.text(18px, @arborealNavigationBarHeight, rgb(32, 76, 0));
					.size(1.5 * @pack, @arborealNavigationBarHeight);
					
					margin-top: -1 * @arborealNavigationBarBorderWidth;
					text-align: center;
					vertical-align: middle;
					
					:first-child {
					
						margin-left: -4px;
						.borderRadius(4.5px, 0, 0, 4.5px);
						
					}
					
					:last-child {
					
						margin-right: -4px;
						.borderRadius(0, 4.5px, 4.5px, 0);
						
					}
					
					+ li {
					
						:before {
	
							.glareSplitHorizontal;
							position: absolute;
							left: -1;
							height: @arborealNavigationBarHeight;

						}
					
					}
					
					a {
					
						.full;
						height: @arborealNavigationBarHeight;
					
					}
				
				}
				

			//	The Information section has a glyph instead of plain text
				
				li a[href*='information'] {
					
					span {	display: none;	}
					
					background: url(arboreal.navigationBar.information.png) center no-repeat;
				
					:hover {
					
						background: url(arboreal.navigationBar.information.hover.png) center no-repeat;
					
					}
					
				}
				
				li.active a[href*='information'] {
				
					background: url(arboreal.navigationBar.information.active.png) center no-repeat;
				
				} 
				
				
			//	States	
				
				li:hover,
				li.hover {

					background: rgba(0, 0, 0, 0.25);
					color: white;
					text-shadow: none;	
				
				}
				
				li + li:hover,
				li + li.hover {
				
					:before {
	
						.glareSplitHorizontalReversed;
						position: absolute;
						left: -1;
						height: @arborealNavigationBarHeight;

					}
					
				}
				
				
				
				
				
				li, li.active, li.active:hover {
				
					text-shadow: 	rgba(255, 255, 255, .4) 0px 1px 0px,
							rgba(0, 0, 0, .15) 0px -1px 0px;
							
					background: none;
					
					:before {
					
						.glareSplitHorizontal;
					
					}
				
				}
				
				li.active,
				li.active:hover {
				
					color: rgb(16, 38, 0);
					
				}
				
				li.active:after {
						
					.pseudoBlock;
					.size(2 * @slice, 4 * @slice);
					
					position: absolute;

					left: 50%;
					margin-left: -1 * @slice;
					
					top: 100%;
					margin-top: -2 * @slice;
					background: url(arboreal.navigationBar.active.indicator.png) center no-repeat;
				
				}
			
			}
		
		}
		
		+ * {
		
			clear: both;
		
		}
	
	}
	









//	! 
//	!Footer
	
	body > footer {
	
		.uaDisableTextZoom;
		
		.fullInset(auto, 0px, 0px, 0px);	
		.width(100%);
		padding: 0;
	
		background: @arborealFooterBackdrop;
		
		.borderInsetTop(rgba(255, 255, 255, .65));

		.text(14px, @pack, rgb(38, 38, 38));

		text-shadow: 	rgba(255, 255, 255, .2) 0px 1px 0px,
				rgba(0, 0, 0, .15) 0px -1px 0px,
				rgba(255, 255, 255, .2) 0px 0px 1px;

		white-space: nowrap;
		
				
		:before {
		
			.shadowDownBlock(2px);
		
		}
		
		
		div {
		
			overflow-y: hidden;
			.size(@arborealWidth, @pack);

			padding: 0px (2 * @arborealSideSpacing);			
			margin: 0 auto;
			
			* {
		
				display: inline;
			
			}
		
		}


		ul li {
			
			height: 2 * @slice;
			margin-right: 2 * @slice;
		
			:last-child {
			
				margin-right: 0;
			
			}
			
			a {
			
				.link;
				padding: 0 @slice;
				margin: 0 (-1 * @slice);
				.borderRadius(@slice);
			
				:active {
				
					background: rgba(0, 0, 0, .35);
				
				}

				
				:hover {

					background: rgba(0, 0, 0, .2);
					.boxShadow(rgba(255, 255, 255, .25), 0px, 1px, 0px);
					color: white;
					text-shadow: rgba(0, 0, 0, .25) 0px 0px 1px;
				
				}	
			
			}
			
		}
		
		
		.credits {
		
			.inlineBlock;
			.size((2 * @pack), @pack);
			float: right;
			
			span {
			
				display: none;
			
			}
		
		}
		
	}










//	! 
//	! 
//	! 
//	! 
//	! 
//	!Context ……………………………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Context: Article

	.context > article > article {
	
		header {
		
		}
		
		p {
		
		}
		
		footer {
		
		}
	
	}
	
	
	
	
	
	
	
	
	

//	! 
//	!Context: Sidebar

	aside {
	
		.text(14px, 18px, #444);
		
		p {
		
			+ p {
			
				margin-top: 2 * @slice;
			
			}
		
		}
	
	}










//	! 
//	!Context: Sidebar: Calendar Box

	.calendar {
	
		.uaDisableSelection;
		.uaDisableTextZoom;
		
		padding: 0 (2 * @slice);
		.borderImage(url(arboreal.calendar.portal.backdrop.png), 54, 36, 54, 36, stretch);
		margin: -36px -36px -54px -36px;
		background-color: transparent;
		
		h2 {
		
			.text(16px, (.5 * @pack));
			text-align: center;
			font-weight: bold;
			
			position: relative;
			
			:before {
			
				.pseudoBlock;
				
				position: absolute;
				.size(4 * @slice);
				
				top: 4 * @slice;
				left: 0;
				
				background: url(arboreal.calendar.sunday.png) center no-repeat;
				background-color: @arborealPanelBackdrop;
				
				z-index: 256;
			
			}
			
			:after {
			
				position: relative;
				top: 18px;
				.glareSplitVertical(36px, .45, .2);
				margin: 0 -18px 0 -18px;
				
				z-index: 128;
			
			}
			
			margin-bottom: 4 * @slice;
		
		}
	
		time {
		
			display: block;
			float: left;
			.size(1 * @arborealCalendarItemWidth, 1 * @arborealCalendarItemWidth);
			.text(16px, 36px);
			
			text-align: center;
			font-weight: bold;
			
			color: rgba(0, 0, 0, .35);
				
		}
		
		br {
		
			width: 0px;
			height: 0px;
			clear: both;
		
		}
		
		.active {
		
			color: rgba(0, 0, 0, .6);
			
		
		}
		
		.today {
		
			color: black;
			background: rgb(223, 225, 219);
			.borderRadius(4.5px);
		
		}
		
		.closed {
		
			color: rgba(0, 0, 0, .1);
		
		}
		
		.leadingSunday {	margin-left: 0 * @arborealCalendarItemWidth;	}
		.leadingMonday {	margin-left: 1 * @arborealCalendarItemWidth;	}
		.leadingTuesday {	margin-left: 2 * @arborealCalendarItemWidth;	}
		.leadingWednesday {	margin-left: 3 * @arborealCalendarItemWidth;	}
		.leadingThursday {	margin-left: 4 * @arborealCalendarItemWidth;	}
		.leadingFriday {	margin-left: 5 * @arborealCalendarItemWidth;	}
		.leadingSaturday {	margin-left: 6 * @arborealCalendarItemWidth;	}

		.details, .actions {
		
			margin: 0px (-2 * @slice);
		
		}		
		
		.details {
		
			clear: left;
			background: @arborealPredicateBarBackdrop;
			
			margin-top: (2 * @slice);			
			padding: @slice 0;

			:before {
			
				.shadowDownBlock;
				top: -4px;
			
			}
			
			:after {
			
				.shadowUpBlock;
				top: 8px;
			
			}
			
			li {
			
				.link;
				height: 6 * @slice - 2;
				
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent;
				
				padding: @slice 19px;
				color: white;
			
			}
			
			li:hover, li.active {
			
				background: rgba(0, 0, 0, .125);
				.gradientBackdropVertical(rgba(0, 0, 0, .075), rgba(0, 0, 0, .250));
				
				border-top: 1px solid rgba(0, 0, 0, .125);
				border-bottom: 1px solid rgba(0, 0, 0, .350);
			
			}
			
			li:active {
			
				background: rgba(0, 0, 0, .125);
				.gradientBackdropVertical(rgba(0, 0, 0, .625), rgba(0, 0, 0, .35));
				
				border-bottom-color: rgba(255, 255, 255, .35);
			
			}
		
			time {
			
				display: block;
				.size(auto);
				float: none;
				text-align: left;
				font-weight: normal;
				
				color: inherit;
				
				.text(16px, 18px);
			
			}
			
			span {
			
				.text(24px, 36px);
				.textStroke;
			
			}
			
			a {
			
				.inlineBlock;
				float: right;
				.size(36px);
				background: url(arboreal.calendar.information.png) center no-repeat;
			
				span {
			
					display: none;
					
				}
			
			}
		
		}
		
		.actions {
		
			text-align: center;
			margin-bottom: -2 * @slice;
			
			height: 6 * @slice;
			
			li {
			
				.size(2 * @pack, 6 * @slice);
				.text(18px, 54px);
				.inlineBlock;
				
				position: relative;
				
				a {
				
					.link;
				
					.full(3px);
					
					padding: 0 @slice 0 (4 * @slice);
										
					background-position: left center;
					background-position-x: @slice;
					background-repeat: no-repeat;
					
						.transition(.05s);
						-webkit-transition-property: background-color, -webkit-box-shadow;
						.borderRadius(3px);
					
						color: black;
						background-image: url(arboreal.calendar.portal.glyph.normal.png);
						opacity: .5;
					
					:hover {

						background-color: rgb(153, 153, 153);
						color: white;
					
						background-image: url(arboreal.calendar.portal.glyph.hover.png);
						opacity: 1;
						
						.animation(arborealCalendarActionHoverAnimation, 4.5s, infinite);
					
					}
					
					:active {
					
						background-color: rgb(89, 89, 89);
						color: white;
						text-shadow: 0px 1px 2px rgba(0, 0, 0, .65);
					
						background-image: url(arboreal.calendar.portal.glyph.active.png);
						opacity: 1;
						
						.boxShadowInner(rgba(0, 0, 0, .75), 0px, 0px, 4px);
					
					}
				
				}
				
				:before, :after {
				
					.glareSplitHorizontal;
					height: 100%;
				
				}
				
				:after {
				
					position: absolute;
					right: 0;
					top: 0;
				
				}
			
			}
		
		}
	
	}
	
	
	
	
	
//	! 	
//	!Context: Sidebar: Teal Box

	.tealBox {
	
		.borderImage(url(arboreal.aside.tealBox.backdrop.png), 36, 36, 36, 108, stretch);
		
		margin: -2 * @slice;
		
		margin-top: @pack;
		margin-bottom: 0px;
		
		background-color: transparent;
		
		> * {
		
			margin-left: -1 * @pack;
		
		}
		
		header {
		
			> * {
			
				margin-left: -1 * @pack;
			
			}
		
			margin-left: -12 * @slice;
			margin-right: -4 * @slice;
			margin-top: -4 * @slice;	
			
			.borderImage(url(arboreal.aside.tealBox.header.backdrop.png), 36, 36, 36, 108, stretch);
			
			h2 {
			
				.text(20px, 36px, rgb(44, 68, 87));
				text-shadow:	0px 1px 0px rgba(255, 255, 255, .65),
						0px -1px 0px rgba(0, 0, 0, .15);
			
			}
			
			time {
				
				.text(13px, 18px, rgb(64, 64, 64));
			
			}
		
		}
		
		.text(13px, 18px);
		
	}





	



	
	
	
	
	
	
	
	
	
	

	
	
	
	
	
	
	
	
	


	
	
	
	
	
	
	

//	! 
//	! 
//	! 
//	! 
//	! 
//	!Portal ………………………………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Portal: Gallery Box
		
	.gallery {
	
		height: 5 * @pack;
		padding: 18px !important;
		position: relative;
		margin-top: 2 * @slice;
		margin-bottom: 6 * @slice;
		
		:before {
		
			.full;
			.pseudoBlock;
			z-index: 1024;
			.borderImage(url(arboreal.gallery.cover.png), 54, 54, 54, 72, round);
		
		}
		
		li.default, li.current {
		
			z-index: 512;
		
		}
		
		> li {
		
			.full;
			background: black;
			
			a {
			
				.full;
				overflow-y: hidden;
				
				img {
				
					width: 100%;
					height: auto;
					min-height: 100%;
				
				}
			
			}
					
		}
		
		li.spotties {
		
			background: transparent;
		
			.fullInset(auto, 0, (-.5 * @slice), 0);
			
			z-index: 2048;
			
			ul {
			
				display: table;
				margin: 0 auto;	
				border-spacing: @slice 0;
		
			}
			
			li {
			
				display: table-cell;
				
				.size(@slice);
				.width(@slice);				
				.borderRadius(4.5px);
				
				background: rgb(88, 88, 88);
				opacity: .55;
				
				.transition(.125s);
				.link;
			
			}
			
			li.active, li:hover {
			
				opacity: 1;
			
			}
		
		}
	
	}
	




//	! 
//	!Portal: Twitter Stream Box

	.context > article > .twitterStream {
		
		.borderImage(url(arboreal.article.twitterStream.backdrop.png), 36, 108, 36, 36, round);
		
		margin: -2 * @slice;
		
		.text(24px, 36px, rgb(52, 62, 64));
		
		div {
		
			margin-right: -72px;
		
		}
		
		span {
		
			text-shadow: 	rgba(255, 255, 255, .2) 0px 1px 0px,
					rgba(0, 0, 0, .05) 0px -1px 0px,
					rgba(0, 0, 0, .05) 0px 0px 4.5px;
					
			.textStroke;
		
		}
		
		a {
		
			.inlineBlock;
			.size(36px, 36px);
			vertical-align: bottom;
		
			background: url(arboreal.article.twitterStream.information.png) center no-repeat;
		
			span {
		
				display: none;
			
			}
		
		}
		
		time {
		
			.inlineBlock;
			float: right;
			margin-top: 2 * @slice;
			.text(12px, 18px);
		
		}
	
	}
	
	
	
	
	
//	! 
//	!Portal: Blog Post Box

	.blogPosts {
	
		.borderImage(url(arboreal.article.blogPosts.backdrop.png), 36, 36, 54, 36, round);
		
		margin: 36px -18px 0 -18px;
		
		padding-bottom: 18px;
	
		h2 {
		
			line-height: 4 * @slice;
		
			.arborealBlogArticleHeader;
			.width(@arborealArticleWidth - (4 * @slice));
			.textDelimited;
			
			time {
			
				.inlineBlock;
				padding-right: 0.5em;
				
				font-weight: bold;
				text-align: left;
			
			}
				
		}
		
		p {
		
			.text(13px, 18px, rgb(89, 89, 89));
			margin-bottom: 2 * @slice;
		
		}
		
		li + li {
		
			:before {
				
				.glareSplitVertical(36px, .45, .2);
				margin: 0 (-2 * @slice);
		
			}
			
			h2 {
			
				margin-top: 2 * @slice;
			
			}
			
			
		}
		
		.more {
		
			.link;
		
			height: 4 * @slice;
			margin-bottom: -4 * @slice;
			
			background: url(arboreal.article.blogPosts.more.png) center right no-repeat;
			
			position: relative;
			
			a {
			
				.full;
				margin: 0 (-2 * @slice);
				.borderRadius(0px, 0px, 9px, 9px);
				
				text-align: right;
				.text(16px, 36px, rgb(89, 89, 89));
			
				span {
			
					display: none;
					margin-right: 6 * @slice;
					text-transform: uppercase;

				}
				
				:hover {
				
					background: rgba(0, 0, 0, .05);
				
				}
			
			}
			
			
		
		}
	
	}




	





//	! 
//	! 
//	! 
//	! 
//	! 
//	!Blog ……………………………………………………………………………………………………………………………………………………………………………………………


	
	
	
	
	
	
	
	
//	! 
//	!Blog: Predicate Navigation

	#blogNavigation {
	
		.width(100%, (@arborealWidth + (2 * @arborealSidebarSpacing)), 100%);
		padding: 0px;
	
		background: @arborealPredicateBarBackdrop;
		position: relative;

		margin-top: 4 * @slice;		
		margin-bottom: 1.5 * @pack;
		
		.boxShadow(rgba(255, 255, 255, .5), 0px, 0px, 9px);
		
	//	Shadows
				
		:before, :after {
		
			z-index: 128;
			.pseudoBlock;
		
		}
		
		:before {
			
			.fullInset(0, 0, auto, 0);
			.borderInsetTop(rgba(0, 0, 0, .2));
		
		}
		
		:after {
		
			.fullInset(auto, 0, 0, 0);
			.borderInsetBottom(rgba(255, 255, 255, .45));
		
		}
	
	
	//	The disclosure tab
	
		.tab {
		
			.link;
		
			display: block;
			.size((12 * @slice), (4 * @slice));
			
			position: absolute;
			
			bottom: -4 * @slice;
			left: 50%;
					
			padding-left: 2 * @slice;
			margin-left: 40 * @slice - 2 * @slice;
			
			padding-bottom: 2 * @slice;
			margin-bottom: -2 * @slice;
			
			padding-right: 2 * @slice;
			margin-right: -2 * @slice;
			
			padding-top: 0 * @slice;
			margin-top: 0 * @slice;

			background-repeat: no-repeat;
			background-position: center bottom;
			
			z-index: 1024;
			
			.transition2(.250s, padding-top, margin-top);
		
			background: url(arboreal.article.blogPosts.predicate.toggle.png) center bottom no-repeat;
				
			span {
			
				display: block;
				.size(100%, 100%);
				overflow-x: hidden;
				text-indent: 2 * @pack;
			
				background: url(arboreal.article.blogPosts.predicate.toggle.glyph.png) center no-repeat;
				
				:hover {
			
					background: url(arboreal.article.blogPosts.predicate.toggle.glyph.hover.png) center no-repeat;
			
				}
				
			}
	
		}
		
		.tab.active {
		
			padding-top: (2 * @slice) !important;
			margin-top: (-2 * @slice) !important;
			
			background: url(arboreal.article.blogPosts.predicate.toggle.active.png) center bottom no-repeat;
				
			span {
			
				background: url(arboreal.article.blogPosts.predicate.toggle.active.glyph.png) center no-repeat;
			
			}
		
		}
		
		
	//	Content wrapper
		
		> div {
	
			display: none;
		
		}
		
		div {
		
			.width(@arborealWidth + 4 * @slice);
			margin-left: auto;
			margin-right: auto;
		
		}
	
	
	//	Actual content
		
		section {
		
			.context;
			margin-top: 0px;
			.width(@arborealWidth + 4 * @slice);
			padding: 0px !important;
			border-spacing: 18px 18px;
			
			section.search {
				
				.width(4 * @pack - 2 * @slice);
				padding: (2 * @slice) !important;
				background: rgba(0, 0, 0, .15);
				.boxShadowInner(rgba(0, 0, 0, .25), 0px, 0px, 8px);
				
				border: 1px solid rgba(255, 255, 255, .15);
				margin: (2 * @slice - 1px) !important;
				
				.borderRadius(9px);
				
				display: table-cell;
			
				input {
				
					.size((@arborealSidebarWidth - 4 * @slice - 2), (4 * @slice - 2));
					border: 1px solid rgba(0, 0, 0, .50);
					
					padding-left: @slice;
					padding-right: @slice;
					
					margin-bottom: 2 * @slice;
					
					.text(18px, 36px, white);
					
					.borderRadius(4.5px);
					
					.gradientBackdropVertical(rgba(0, 0, 0, .55), rgba(0, 0, 0, .30));
					.boxShadow(rgba(255, 255, 255, .2), 0px, 1px, 0px);	
				
				}
			
				ul {
				
					display: block;
				
					margin-left: 2 * @slice;
					padding-left: 4 * @slice;
					
					width: 4 * @pack;
					
					li {
				
						.inlineBlock;
						height: 2 * @slice;
						.text(13px, 18px, white);
						
						margin-right: @slice;
					
					}
					
					margin-bottom: 2 * @slice;
					
					:last-child {
					
						margin-bottom: 0;
					
					}
					
					background-position: top left;
					background-repeat: no-repeat;
				
				}
				
				ul.tags {
				
					background-image: url(arboreal.article.blogPosts.predicate.tags.png)
				
				}
				
				ul.categories {
				
					background-image: url(arboreal.article.blogPosts.predicate.categories.png);
				
				}
			
			}
			
			position: relative;
			
			aside.browse {
			
				display: table-cell;
				
				.width(8.5 * @pack);
				
				:before, :after {
				
					position: absolute;
					top: 0;
					bottom: 0;
					
					margin: 0;
					height: (2 + @arborealBlogPredicateBarRowsVisible) * @arborealBlogPredicateBarRowHeight;
					
					opacity: .25;
				
				}
								
				ul.years {
				
					.uaDisableSelection;
				
					position: absolute;
					
					width: 3 * @pack;
					
					background-color: rgba(0, 0, 0, .65);
					.boxShadowInner(rgba(0, 0, 0, .35), 0px, 0px, 9px);
					
					top: 0px;
					bottom: 0px;
					
					border-left: 1px solid rgba(255, 255, 255, .45);
					border-right: 1px solid rgba(255, 255, 255, .45);
					
					margin-left: -1px;
					margin-right: -1px;
					
					z-index: 32;
				//	The z-index is needed for the outset border to show over
				
					li {
					
						.text(24px, 36px, white);
						text-align: center;
						font-weight: bold;
						
						.size(100%, @pack);
						position: relative;
						
						text-shadow: 0px 0px 6px rgba(255, 255, 255, .5);
						
						:first-child {
						
							margin-top: 0.5 * @pack;
						
						}
						
						top: 3px;	//	baseline: abnormal;
						
						.transition(.125s);
											
					}
					
					li:active {
					
						.animation(arborealSlightDimLightAnimation, 1.5s, infinite, ease-in-out);
					
					}
					
					li h3 {
					
						.link;
						opacity: .5;
						.transition(.125s);
					
					}
					
					:active li {
					
						opacity: .65;
					
					}
					
					:active li:active {
					
						opacity: .1;
					
					}
					
					li:active h3, li.active h3 {
					
						opacity: 1;
					
						:before, :after {

							.pseudoBlock;						
							.size(100%, 4px);
							
							background-color: white;
							
							position: absolute;
							
							bottom: 6 * @slice;
							
							.boxShadow(rgba(255, 255, 255, .5), 0px, 0px, 6px);
							.borderRadius(2px);
						
						}
						
						:before {
						
							margin-left: -0.5 * @pack;
							left: -50%;
						
						}
						
						:after {
						
							margin-right: -0.5 * @pack;
							right: -50%;
						
						}
					
					}

					overflow: hidden;
				
				}
				
				ul.articles {
				
					position: absolute;
					
					width: (8.5 - 3) * @pack;
					right: 2 * @slice;
					
					top: 0;
					bottom: 0;					
					
					:before {
					
						.pseudoBlock;
						.full;
						.borderImage(url(arboreal.blog.predicate.articleTitles.backdrop.png), 72, 144, 0, 90, stretch);
						
						z-index: 8;
					
					}
					
					li {
					
						position: relative;
						z-index: 16;
						
						.text(18px, 36px, white);
						margin-left: 4 * @slice;
						
						:first-child {
						
							margin-top: 0.5 * @pack;
						
						}
						
						top: 3px;
					
					}
					
					overflow: hidden;
				
				}
			
			}
		
		}
	
	}
	
	
	#blogNavigation.active {
	
		margin-bottom: @pack;
		
		:before {
	
			.shadowDownBlock(4px);
			.fullInset(0, 0, auto, 0);
			.borderInsetTop(rgba(255, 255, 255, .65));
		
		}
		
		:after {
		
			.shadowUpBlock(4px);
			.fullInset(auto, 0, 0, 0);
			.borderInsetBottom(rgba(255, 255, 255, .65));
		
		}
	
	}
	
	 



//	! 
//	!Blog: Pagination Navigation

	.context article + nav {
	
		text-align: center;
		.text(20px, 36px, rgb(39, 73, 37));
	
		a {
		
			.inlineBlock;
			height: 4 * @slice;
			padding: (2 * @slice) 0;
		
			:first-child {
			
				:before {
				
					content: "«";
					.inlineBlock;
					padding-right: @slice;
				
				}
			
			}
			
			:last-child {
			
				:after {
				
					content: "»";
					.inlineBlock;
					padding-left: @slice;
				
				}
			
			}
		
			+ a {
		
				:before {
				
					.pseudoBlock;
					
					.inlineBlock;
					
					width: 4 * @slice;
				
				}

			}
		
		}
	
	}





//	! 
//	!Blog: Single Post

	.blogPost,
	article article {
	
		.borderImage(url(arboreal.article.blogPost.backdrop.png), 36, 27, 36, 27, round);
		
		margin: 0px (-2 * @slice) (4 * @slice) (-2 * @slice);
		padding: 0px @slice;

		header {

			min-height: 6 * @slice;
			height: 6 * @slice;
			
			position: relative;

			time {
			
				.arborealBlogArticleHeader;
				.text(40px, 54px, rgb(39, 73, 37));
				
				font-weight: bold;
				
				.inlineBlock;
				.size(16 * @slice, 6 * @slice);
				
				float: left;
				
			//	Positional Hack — Vegur misbehaves
			
				position: relative;
				top: 3px;
				
				:after {
				
					.glareSplitHorizontal;
					height: 6 * @slice;
					
					position: absolute;
				
				//	Compensation
				
					top: -3px;
					right: 2 * @slice;
				
				}
			
			}

			h2 {
			
				.arborealBlogArticleHeader;
				
			}
			
			ul {
			
				.text(13px, 18px);
				display: block;
				
				li {
				
					display: inline;
				
				}
			
			}
			
			a {
			
				span {
				
					display: none;
				
				}
			
				display: block;
				
				.size(4 * @slice);
			
			}
			
			a.share {
			
				.fullInset(0, 0, auto, auto);
				
			}
			
			a.share {
			
				background: url(arboreal.article.blogPost.header.share.png) center no-repeat;
			
			}
			
			a.share:hover {
				
				background: url(arboreal.article.blogPost.header.share.hover.png) center no-repeat;
				
			}
				
			a.share:active,
			a.share.active,
			a.share.active:hover {
				
				background: url(arboreal.article.blogPost.header.share.active.png) center no-repeat;
			
			}
			
			
			
			
			
			+ * {
				
				margin-top: 4 * @slice;
				position: relative;
				
				:before {
					
					.glareSplitVertical(36px, .45, .2);
					.fullInset((-4 * @slice), (-2 * @slice), auto, (-2 * @slice));
			
				}
				
			}
		
		}
		
		
		p {
		
			.text(18px, 27px, rgb(64, 64, 64));
			
			+ p {
			
				margin-top: 27px;
			
			}
		
		}
		
		footer {
		
			position: relative;
			height: 4 * @slice;

			margin-top: 2 * @slice;
			margin-bottom: -2 * @slice;
			
			.text(13px, 36px, rgb(39, 73, 37));
			
			text-shadow:	0px 1px 0px rgba(255, 255, 255, .65),
					0px -1px 0px rgba(0, 0, 0, .15);

			text-align: right;
			
		}
		
	}





//	! 
//	!Blog: Comments

	.context + .comments {
	
		margin-top: -1.25 * @pack;
		margin-bottom: 2 * @pack;
	
		.width(100%, (@arborealWidth + (2 * @arborealSidebarSpacing)), 100%);
		padding: 0px;
		
		position: relative;
	
		background: rgb(160, 180, 181);
		
		> * {
		
			.width(@arborealWidth);
			margin: 0 auto;
		
		}
		
		:before {
	
			.pseudoBlock;
			.fullInset(0, 0, auto, 0);

			.borderInsetTop(rgba(255, 255, 255, .45));
			.borderInsetBottom(rgba(0, 0, 0, .2));
			
			z-index: 1024 + 512;
		
		}
		
		:after {
		
			.pseudoBlock;
			.fullInset(auto, 0, 0, 0);
			
			.borderInsetTop(rgba(0, 0, 0, .2));
			.borderInsetBottom(rgba(255, 255, 255, .45));
		
		}
		
		ul {
		
			:before, :after {
			
				position: absolute;
			
			}
				
			:before {
			
				.pseudoBlock;
				.borderInsetTop(rgba(255, 255, 255, .85));
				
				width: 100%;
				.shadowDownBlock(4px);
				
				.fullInset(-1, 0, 0, 0);
				
				top: 3px;
				
				z-index: 64;
				
				position: absolute;
			
			}
			
			:after {
			
				.pseudoBlock;
				.size(50%, 100%);
				
				background-color: rgb(196, 205, 206);
				
				z-index: 0;
				
				margin-right: 2.5 * @pack;
				
				right: 50%;
				top: 0%;
				
				.boxShadow2(rgba(0, 0, 0, .15), 1px, 0px, 0px, rgba(0, 0, 0, .35), 0px, 3px, 3px);
				border-right: 1px solid rgba(255, 255, 255, .20);
			
			}
			
			padding: (2 * @slice) 0;
		
			li {
			
				clear: left;
			
				margin-left: @arborealSidebarWidth;
				margin-right: -2 * @slice;
	
				.borderImage(url(arboreal.blogPost.comment.backdrop.png), 72, 36, 36, 54, stretch);
								
				.text(16px, 27px, rgb(64, 64, 64));
				
				> * {
				
					position: relative;
					top: -4 * @slice;
					
					:last-child {
					
						margin-bottom: -4 * @slice;
					
					}
				
				}
				
				p {
				
					margin-bottom: 3 * @slice;
				
				}
				
				aside {
				
					z-index: 32;
					
					width: @arborealSidebarWidth - 16 * @slice;
					.inlineBlock;
					float: left;
					margin-left: -1 * (@arborealSidebarWidth + @arborealSidebarSpacing - 10 * @slice);
					
					.avatar {
					
						float: left;
						.size(8 * @slice);
						margin-left: -1.5 * @pack;
						margin-top: -2 * @slice;
						
						.borderRadius(4.5px);
						.boxShadowInner(rgba(0, 0, 0, .50), 0px, 0px, 3px);
						background-color: rgb(139, 156, 166);

						position: relative;
						
						overflow: visible;
						
						:empty {
						
							.boxShadowInner(rgba(0, 0, 0, .0), 0px, 0px, 0px);
							background: transparent;	
							
							img {
							
								.boxShadowInner(rgba(0, 0, 0, 0), 0px, 0px, 3px);
							
							}
						
						}
						
						img {
						
							background-color: transparent;
							.size(100%);
							.borderRadius(4.5px);
							.boxShadowInner(rgba(0, 0, 0, .50), 0px, 0px, 3px);
							
							z-index: 32;
													
						}
					
					}
					
					.noShadow {
						
						.boxShadow(rgba(0, 0, 0, .0), 0px, 0px, 0px);
						background-color: transparent;
						
						img {
						
							.boxShadowInner(rgba(0, 0, 0, 0), 0px, 0px, 3px);
						
						}
					
					}
					
					h3 {
					
						.text(24px, 27px);
						font-weight: bold;
						vertical-align: bottom;
					
					}
					
					a {
							
						.inlineBlock;
					
						background: url(arboreal.blogPost.comment.glyph.authorSite.png) top right no-repeat;
						
						background-position-y: -2px;
						
						padding-right: 4 * @slice;
					
					}
					
					time {
					
						.text(13px, 18px);
					
					}
					
					.textStroke;
					color: rgb(81, 91, 92);
					font-weight: bold;
					
					text-shadow:	rgba(255, 255, 255, .65) 0px 1px 0px,
							rgba(0, 0, 0, .15) 0px -1px 0px;
				
				}
			
			}
		
		}
		
		section.pagination {
		
			background-color: @arborealBackdrop;
		
			:before {
			
				.pseudoBlock;
				.fullInset(0, 0, -18px, 0);

				width: 100%;
				.shadowUpBlock(4px);
				position: absolute;
				bottom: @pack;
				top: auto;
				margin-top: 0;
			
			}
			
			position: absolute;
			
			bottom: -1 * @pack;

			.size(100%, @pack);
			.width(100%);
			
			text-align: center;
			vertical-align: middle;
			
			a {
			
				.link;
				.inlineBlock;
				.size(4 * @slice);
				padding: (2 * @slice) 0;
				.text(24px, 36px, @arborealBlogCommentPaginationLink);
				.typeSansSerifPaleo;
				
				position: relative;
				.transition(.25s);
			
			}
			
			.previous, .next {
			
				color: transparent;
				.uaDisableSelection;
			
			}
			
			a, .previous, .next {	opacity: .25;	}
			a.active, a:hover {	opacity: 1;	}
			
			a.active {
			
				z-index: 48;
				
				:before {
						
					.pseudoBlock;
					
					.size(4 * @slice);
					left: 50%;
					top: -100%;
					margin-left: 0px;
					margin-top: -4 * @slice;
					background: url(arboreal.blogPost.comment.pagination.active.indicator.png) center no-repeat;
				
				}
			
			}
			
			.newComment {
			
				opacity: 1;
	
				.size((12 * @slice - 2), (4 * @slice - 2));
				padding-top: 0;
				padding-bottom: 0;
				position: absolute;
				left: 50%;
				margin-left: 5 * @pack;
				top: 2 * @slice;
				
				border: 1px solid rgba(0, 0, 0, .35);
				.gradientBackdropVertical(rgba(255, 255, 255, .3), rgba(121, 128, 133, .3));
				
				.boxShadow(rgba(255, 255, 255, .3), 0px, 1px, 0px);
				overflow: hidden;
				
				.borderRadius(4.5px);
				
				.uaDisableSelection;
				
				z-index: 192 !important;
				
				span {
				
					display: block;
					.size(12 * @slice, 4 * @slice);
					color: transparent;
					background: url(arboreal.blogPost.comment.glyph.addComment.png);
					
					background-position: center;
					background-position: center -1px;
					background-position-y: -1px;
					background-repeat: no-repeat;
				
				}
				
				.transition(.25s);
			
			}
			
			.newComment.active,
			.newComment:active {
			
				z-index: 192;
				border-color: rgba(0, 0, 0, .65);
				
				.gradientBackdropVertical(rgba(82, 87, 89, .75), rgba(153, 153, 153, .75));
			
				span {
			
					background-image: url(arboreal.blogPost.comment.glyph.addComment.active.png);
					
				}
			
			}
		
		}
		
		
		
		
		
		section.commentForm {
		
			z-index: 128;
		
			.transition(.25s);
		
			display: block;
			position: absolute;
			
			.borderImage(url(arboreal.blogPost.comment.sheet.backdrop.png), @packRaw, 2 * @packRaw, @packRaw, @packRaw, stretch);
			
			.size(3 * @pack, 5.375 * @pack);
			.width(2.5 * @pack);
			
			bottom: -3 * @slice;
			left: 50%;
			
			margin-left: -1 * @pack - 1.5 * @pack + 4.25 * @pack;
			
			form {
			
				.margin(-2 * @slice + 2, -10 * @slice + 2, -2 * @slice + 2, -2 * @slice + 2);
				position: relative;
				
				> * {
				
					display: block;
				
				}
				
				
			//	Invalid field indication
				
				.input:before {
				
					.pseudoBlock;
					
					.size(1.5 * @pack, 7 * @slice);
					.fullInset(50%, 0px, 0px, -1.5 * @pack);
					margin-top: -1 * (3.5 * @slice + 2 + @slice);
					
					background: url(arboreal.blogPost.comment.sheet.indicator.invalidField.png) center no-repeat;
					
					opacity: 0;
					
					.transition(.125s);
					.animation(arborealTagCircularMotionAnimation, 2.5s, infinite);
				
				}
				
				.input.invalid:before {
				
					opacity: 1;

				}
			
			
			//	Geometry & faux border
			
				input, .input:after {

					.borderRadius(4.5px);

					.size(100%, 6 * @slice - 4);
					
					margin: -2px;
					margin-bottom: 2 * @slice + 2;
					
					border: 2px solid rgb(166, 142, 24);

					.text(24px, 36px, rgba(0, 0, 0, .5));
					.textPlaceholderColor;
					
					text-indent: @slice;					
					font-weight: bold;
					
					.transition(.25s);
					
					:after {
					
						.transition(.25s);
					
					}
						
				}

				input.optional, .input.optional:after {
				
					height: 5 * @slice - 4;
					border-style: dashed;

					.text(18px, 27px, rgba(0, 0, 0, .5));
				
				}	
				
				.input {
				
					position: relative;
					
					:after {
							
						z-index: -1;
										
						.pseudoBlock;
						.full;
						border-color: rgba(255, 255, 255, .35);
						
						margin-top: -1px;
					
					}
				
				}
				
				
			//	Active Highlight	
				
				input:active, input:focus, button:focus {
				
					background-color: rgba(255, 255, 255, .125);
					.boxShadow(rgba(255, 255, 255, .5), 0px, 0px, 6px);
				
					:after {
					
						opacity: 0;
					
					}
				
				}
				
			
			//	Comment body
				
				textarea {
					
					.borderRadius(4.5px);
				
					.size(3.75 * @pack, 2 * @pack);
					margin: -2px;
					margin-bottom: 2 * @slice + 2;
					
					resize: none;
					
					padding: @slice;
					
					.gradientBackdropVertical(rgb(217, 212, 148), rgb(230, 224, 157));
					
					.boxShadow2(rgba(0, 0, 0, .2), 0px, -1px, 0px, rgba(255, 255, 255, .7), 0px, 1px, 0px);
					
					.text(20px, 36px, rgba(0, 0, 0, .65));
					.textPlaceholderColor;
					
					.uiScrollbar;
				
				}
				
				
			//	Submit!	
				
				button {
				
					.borderRadius(4.5px);
				
					.size(12 * @slice, 5 * @slice);
				
					background: transparent;
					border: 2px solid white;
					margin: -2px;
					margin-left: auto;
					
					.text(20px, 27px, white);
					
					opacity: .75;
					
					.transition(.25s);
				
				}
				
			}
				
		}
		
		section.hiddenCommentForm {
		
			bottom: -4 * @slice;
			opacity: 0;
		
		}
	
	}
	
	
	// Backdrop	
	
	.context + .comments {
	
		:before {
			
			.pseudoBlock;
			
			.full;
			position: fixed;
			
			background-color: rgba(0, 0, 0, .35);
			
			z-index: 96;
			
			display: none;
			opacity: 0;
			
			.transition(.25);
	
		}
	
	}
	
	.context + .comments.backdropped {
	
		:before {
		
			display: block;
			opacity: 1;
					
		}
	
	}
	
	
	
	
	




	
//	! 
//	! 
//	! 
//	! 
//	! 
//	!Fairtrade ……………………………………………………………………………………………………………………………………………………………………………………………


	
	
	
	
	
	
	
	
//	!FIXME: Implement.










//	! 
//	! 
//	! 
//	! 
//	! 
//	!Store …………………………………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Store: Message

	.storeMessage {
	
		position: fixed;
		.size(7.5 * @pack, @arborealNavigationBarHeight);

		top: 0;
		left: 50%;
		margin-left: -1 * @pack;
		
		padding: 0; 
		
		background: rgb(216, 190, 79);
		
		.gradientBackdropVertical(rgb(220, 202, 109), rgb(193, 173, 65));
					
		> div {
		
			.fullInset(0, 0, 0, 0);
			border: 1px solid rgb(229, 215, 154);
			border-top-width: 0px;
			padding: 9px 17px 8px 17px;
			
			.text(18px, 36px, rgb(16, 38, 0));
			
			> * {
			
				.inlineBlock;
				text-shadow: 	0px 1px 0px rgba(255, 255, 255, .5),
						0px -1px 0px rgba(255, 255, 255, .1);
			
			}
		
		}
		
		.boxShadow(rgba(0, 0, 0, .5), 0px, 2px, 4px);
	
	}





//	! 
//	!Store: Shelf

	.storeShelf {
	
		background: url(arboreal.shelf.backdrop.png) top center repeat-y;
		text-align: center;
	
		li {
		
			.inlineBlock;
			.size(2 * @pack, 4 * @pack);
			margin: 0 (0.5 * @pack);
		
		}
	
	}










//	! 
//	! 
//	! 
//	! 
//	! 
//	!POS ……………………………………………………………………………………………………………………………………………………………………………………………


	
	
	
	
	
	
	
	
//	!FIXME: Implement.










//	! 
//	! 
//	! 
//	! 
//	! 
//	!Contact …………………………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Contact: Letter Wrap
	
	.letterWrap {
	
		.uaDisableSelection;
	
		margin: @slice;
		padding: @slice;
		
		position: relative;
		background-color: @arborealPanelBackdrop;
		
		.borderRadius(2.25px);
		
		:before {
		
			.pseudoBlock;
			z-index: -1;
			.full(-1 * @slice);
			
			background: url(arboreal.letter.backdrop.png) top left repeat;
			background-color: white;
			.borderRadius(4.5px);
			
			.boxShadow(rgba(0, 0, 0, .45), 0px, 2px, 4px);
		
		}
		
		form {
		
			margin: 0 @slice;

			input, textarea {
		
				width: 100%;
				
				.recessedGreenField;
				margin-left: -2 * @slice;
				
				display: block;
				
				.text(27px, (3 * @slice), #444);

			}
			
			textarea {
			
				resize: vertical;
				padding: @slice 0;
			
			}
			
			input {
			
				height: 5 * @slice - 2 * @slice;
				
			
			}
			
			textarea {
			
				min-height: 3 * @pack - 2 * @slice;
			
			}
				
		}
		
		+ a.submitButton {
		
			width: 7 * @slice;
			
			margin-left: auto;
			margin-right: -2 * @slice;
		
		}
	
	}
	
	
	
	
	
	
	
	

	