//	arboreal.style.includes.swatches.scss
//	Evadne Wu at Iridia, 2010





//	! 
//	!Swatches
	
	$arborealBackdrop: rgb(206, 217, 195);
	$arborealNavigationBarBackdrop: rgb(180, 194, 158);
	$arborealPredicateBarBackdrop: rgb(92, 102, 92);
	$arborealFooterBackdrop: rgb(168, 176, 152);
	$arborealPanelBackdrop: rgb(245, 245, 245);
	$arborealBlogPagination: rgb(30, 43, 7);
	$arborealBlogCommentPaginationLink: rgb(71, 77, 77);
	
	$arborealBlogShareArticleBackdrop: rgb(94, 105, 104);
	$arborealBlogShareArticleBackdropPlurk: rgb(148, 91, 38);
	$arborealBlogShareArticleBackdropTwitter: rgb(125, 159, 176);
	$arborealBlogShareArticleBackdropFacebook: rgb(125, 130, 176);




