//	arboreal.style.includes.positioning.scss
//	Evadne Wu at Iridia, 2010





//	! 
//	!Positioning

	$arborealWidth: 11 * $pack;
	$arborealSidebarWidth: 204px;
	$arborealSidebarSpacing: 4 * $slice;
	
	$arborealSideSpacing: .25 * $pack;

	$arborealNavigationBarBorderWidth: 2px;
	$arborealNavigationBarHeight: 6 * $slice;
	
	$arborealCalendarItemWidth: 24px;
	
	$arborealArticleWidth: $arborealWidth - $arborealSidebarWidth - $arborealSidebarSpacing;

	$arborealBlogPredicateBarRowHeight: 4 * $slice;
	$arborealBlogPredicateBarRowsVisible: 3;




