//	arboreal.style.pages.portal.scss
//	Evadne Wu at Iridia, 2010
	
	
	
	

//	! 
//	! 
//	! 
//	! 
//	! 
//	!Portal ………………………………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Portal: Gallery Box
		
	.gallery {
	
		height: 5 * $pack;
		padding: 18px !important;
		position: relative;
		margin-top: 2 * $slice;
	//	margin-bottom: 6 * $slice;
		
		&:before {
		
			@include full;
			@include pseudoBlock;
			z-index: 1024;
			@include borderImage("../arboreal.images/arboreal.gallery.cover.png", 54, 54, 54, 90, round);
					
		}
		
		&.loading {
		
			background: rgba(0, 0, 0, .35);
			
			background-image: url(../arboreal.images/arboreal.backdrop.perforation.png);
			
			&:after {
			
				@include pseudoBlock;

				content: "Loading Slideshow";
				
				@include size(4 * $pack);
				margin-top: 0.5 * $pack;
				margin-left: auto;
				margin-right: auto;
				
				@include text(13px, 4 * $pack, rgba(255, 255, 255, .75));
				text-shadow: rgba(0, 0, 0, .75) 0px 1px 2px;
				
				text-align: center;
				
				font-weight: bold;
								
				z-index: 1024 + 16;
			
			}
		
		}
		
		li.default, li.current {
		
			z-index: 512;
		
		}
		
		> li {
		
			@include full;
			overflow-x: hidden;			
			background: black;
			
			a {
			
				@include full;
				overflow-y: hidden;
				
				img {
				
					@include size(100%, auto);
					min-height: 100%;
				
				}
			
			}
					
		}
		
		li.spotties {
		
			background: transparent;
		
			@include fullInset(auto, 0, (-.5 * $slice), 0);
			
			z-index: 2048;
			
			ul {
			
				display: table;
				margin: 0 auto;	
				border-spacing: $slice 0;
		
			}
			
			li {
			
				display: table-cell;
				
				@include size($slice);
				@include width($slice);				
				@include borderRadius(4.5px);
				
				background: rgb(88, 88, 88);
				opacity: .55;
				
				@include transition(.125s);
				@include link;
				
				@include boxShadow(rgba(255, 255, 255, .15), 0px, 1px, 0px);
			
			}
			
			li.active, li:hover {
			
				opacity: 1;
			
			}
		
		}
	
	}
	




//	! 
//	!Portal: Twitter Stream Box

	.context > article > .twitterStream {
	
		@include uaDisableTextZoom;
		@include typeSansSerifUniversal;
		
		@include borderImage("../arboreal.images/arboreal.article.twitterStream.backdrop.png", 36, 108, 36, 36, round);
		
		margin: -2 * $slice;
		
		@include text(14px, 18px, rgb(52, 62, 64));
		
		div {
		
			margin-right: -72px;
		
		}
		
		span {
		
			&:empty {
			
				&:before {
				
					@include pseudoBlock; 
					width: 100%;
					content: "Loading…";
					text-align: center;
					color: gray;
				
				}
				
			
			}
		
			text-shadow: 	rgba(255, 255, 255, .2) 0px 1px 0px,
					rgba(0, 0, 0, .05) 0px -1px 0px,
					rgba(0, 0, 0, .05) 0px 0px 4.5px;
					
			@include textStroke;
			
			a.replaced {
			
				@include textReplacement;

				@include inlineBlock;
				@include textDelimited;
				
				@include size(11 * $slice, 4 * $slice);
				
				white-space: nowrap;
				position: relative;
				vertical-align: middle;
				
				background: url(../arboreal.images/arboreal.article.twitterStream.linkBadge.png) center no-repeat;
				
				background-position-y: -2px;
			
			}
		
		}
		
		a {
		
			&:before {
			
				content: " ";
			
			}
			
		//	force wrapping
		//	http://perishablepress.com/press/2010/06/01/wrapping-content/
		
			white-space: pre;           /* CSS 2.0 */
			white-space: pre-wrap;      /* CSS 2.1 */
			white-space: pre-line;      /* CSS 3.0 */
			white-space: -pre-wrap;     /* Opera 4-6 */
			white-space: -o-pre-wrap;   /* Opera 7 */
			white-space: -moz-pre-wrap; /* Mozilla */
			white-space: -hp-pre-wrap;  /* HP Printers */
			word-wrap: break-word;      /* IE 5+ */
		
		}
		
		a[title*='more'] {
		
			display: block;
			@include size(236px, 45px);
			vertical-align: top;
			
			height: 0px;
			
			overflow: visible;
		
			span {
			
				margin-left: -18px;
				display: block;
				height: 54px;
				line-height: 54px;
				text-align: center;
				padding-top: 27px;
				display: block;
				background: url(../arboreal.images/arboreal.article.twitterStream.banner.png) left bottom no-repeat;
				
				color: transparent; 
			
			}
			
		//	display: none;
		
		}
		
		time {
		
			@include inlineBlock;
			float: right;
			margin-top: 2 * $slice;
			@include text(12px, 18px);
		
		}
	
	}
	
	
	
	
	
//	! 
//	!Portal: Blog Post Box

	.blogPosts {
	
		@include borderImage("../arboreal.images/arboreal.article.blogPost.backdrop.more.png", 36, 27, 36, 27, round);
		
		margin: 36px -18px 0 -18px;
		
		padding-bottom: 18px;
		
		> * {
		
			margin-left: $slice;
			margin-right: $slice;
		
		}
	
		h2 {
		
			@include arborealBlogArticleHeaderTitle;
			text-shadow: none;
			@include text(16px, 20px, rgb(39, 73, 37));
		//	@include width($arborealArticleWidth - (4 * $slice));
		//	@include textDelimited;
			
		//	line-height: 4 * $slice;
			margin-bottom: $slice;
			
			time {
			
				padding-right: 0.5em;
				
				font-weight: bold;
				text-align: left;
				
				font-size: 12px;
				margin-bottom: 0px;
			
			}
				
		}
		
		p {
		
			@include text(13px, 18px, rgb(89, 89, 89));
			margin-bottom: 2 * $slice;
		
		}
		
		li + li {
		
			&:before {
				
				@include glareSplitVertical(36px);
				margin: 0 (-2 * $slice);
		
			}
			
			h2 {
			
				margin-top: 2 * $slice;
			
			}
			
		}
		
		.more {
		
			&:before {
			
				display: none;
			
			}
		
			@include link;
		
			height: 4 * $slice;
			background: url(../arboreal.images/arboreal.article.blogPosts.more.png) center right no-repeat;
			
			position: relative;
			
			margin-top: 0px;
			margin-bottom: $slice;
			
			a {
			
				@include full;
				margin: 0 (-2 * $slice);
				
				text-align: right;
				@include text(16px, 36px, rgb(89, 89, 89));
			
				span {
			
					display: none;
					margin-right: 6 * $slice;
					text-transform: uppercase;

				}
				
				&:hover {
				
					background: rgba(0, 0, 0, .05);
				
				}
			
			}
			
			&:last-child {
			
				margin-bottom: -4 * $slice;
			
			}
		
		}
	
	}




	