//	arboreal.style.scss
//	Evadne Wu at Iridia, 2010

@import "../lib.monoSnippets/lib.monoSnippets.reset.css";
@import "../lib.monoSnippets/lib.monoSnippets.scss";










//	! 
//	! 
//	! 
//	! 
//	! 
//	!Configuration ……………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Typography





	* {
	
		text-rendering: optimizeLegibility;
	
	}

	@mixin typeMonospaced {
	
		font-family: "Menlo", "Bitstream Vera Sans Mono", "Monaco", monospace;

	}
	
	@mixin typeSerifHumanistic {
	
		
	
	}
	
	@mixin typeSansSerifNeo {
	
		font-family: "Vegur", "Lucida Grande", "Lucida Unicode", "Helvetica", "Arial", "LiHei Pro", sans-serif;
	
	}
	
	@mixin typeSansSerifUniversal {
	
		font-family: "Lucida Grande", "Lucida Unicode", "Helvetica", "Arial", "LiHei Pro", sans-serif;
	
	}
	
	@mixin typeSansSerifPaleo {
	
		font-family: "Helvetica Neue", "Helvetica", "Arial";
	
	}
	
	
	
	
	
	@mixin arborealBlogArticleHeaderTitle {
	
		@include text(20px, 36px, rgb(39, 73, 37));
		
		text-shadow:	rgba(255, 255, 255, .65) 0px 1px 0px,
				rgba(0, 0, 0, .15) 0px -1px 0px;
			
	}
	
	@mixin arborealBlogArticleHeaderDateTime {
	
		@include text(40px, 54px, rgb(39, 73, 37));
		
		font-weight: bold;
	
	}
	
	@mixin arborealBlogArticleHeaderCategoriesAndTags {
	
		@include text(13px, 18px, rgb(39, 73, 37));
	
	}
	









	









	
	
	
	
	
	
	










	









//	! 
//	!Positioning

	$arborealWidth: 13 * $pack;
	$arborealSidebarWidth: 4 * $pack;
	$arborealSidebarSpacing: 4 * $slice;
	
	$arborealSideSpacing: .25 * $pack;

	$arborealNavigationBarBorderWidth: 4px;
	$arborealNavigationBarHeight: 6 * $slice;
	
	$arborealCalendarItemWidth: 4 * $slice;
	
	$arborealArticleWidth: $arborealWidth - $arborealSidebarWidth - $arborealSidebarSpacing;

	$arborealBlogPredicateBarRowHeight: 4 * $slice;
	$arborealBlogPredicateBarRowsVisible: 3;
	





//	! 
//	!Swatches
	
	$arborealBackdrop: rgb(206, 217, 195);
	$arborealNavigationBarBackdrop: rgb(180, 194, 158);
	$arborealPredicateBarBackdrop: rgb(92, 102, 92);
	$arborealFooterBackdrop: rgb(168, 176, 152);
	$arborealPanelBackdrop: rgb(245, 245, 245);
	$arborealBlogPagination: rgb(30, 43, 7);
	$arborealBlogCommentPaginationLink: rgb(71, 77, 77);
	
	$arborealBlogShareArticleBackdrop: rgb(94, 105, 104);
	$arborealBlogShareArticleBackdropPlurk: rgb(148, 91, 38);
	$arborealBlogShareArticleBackdropTwitter: rgb(125, 159, 176);
	$arborealBlogShareArticleBackdropFacebook: rgb(125, 130, 176);
	
	
	
	






//	! 
//	! 
//	! 
//	! 
//	! 
//	!Misc ……………………………………………………………………………………………………………………………………………………………………………………………





	@mixin recessedGreenField {
	
		@include borderImage(url(../arboreal.images/arboreal.field.recessed.green.backdrop.png), 18);
		margin: -1 * $slice;
	
	}
	
	
	
	
	
	@mixin submitButton {
	
		@include link;
	
		@include threePartImage(url(../arboreal.images/arboreal.button.submit.backdrop.png), 36, 45);
		
		display: block;
		height: $pack;

		@include text(18px, 72px, rgb(16, 38, 0));
		text-shadow:	rgba(255, 255, 255, .4), 0px, 1px, 0px,
				rgba(0, 0, 0, .15), 0px, -1px, 0px;
				
		padding: 0 (3 * $slice) 0 (2 * $slice);
	
	}
	
	
	
	
	
	




//	! 
//	! 
//	! 
//	! 
//	! 
//	!Initialization …………………………………………………………………………………………………………………………………………………………………





	




//	! 
//	!Scaffold and Geometry
	
	
	
	
	
	html, body {
	
		min-height: 100%;
	
	}

	html {
	
		background-color: $arborealBackdrop;
	
	}
	
	body {
	
		@include typeSansSerifNeo;
		
		min-width: $arborealWidth + 2 * $arborealSidebarSpacing;
		
		> * {
		
			@include width($arborealWidth);
			padding: 0 (2 * $arborealSideSpacing);
			margin: 0 auto;
		
		}
		
		position: absolute;
		width: 100%;
		min-height: 100%;
			
		overflow-y: auto;
	
	}

	h1, h2, h3, h4, h5, h6, h7 {
	
		font-weight: normal;
	
	}
	
	@mixin arborealContext {
	
		border-spacing: $arborealSidebarSpacing 0;
		margin: (.5 * $pack) auto 0 auto;
		padding: 0px 0px (1.5 * $pack) 0px !important;
		display: table;
		
		> * {
		
			display: table-cell;
			vertical-align: top;
		
		}
		
		@include width($arborealWidth + (2 * $arborealSidebarSpacing));
		
		aside {	
		
			@include width($arborealSidebarWidth);
		
		}
		
		> nav {
		
			display: table-row;
		
		}
	
	}
	
	.context {
	
		@include arborealContext;
	
	}
	
	.blockContext {
	
		@include arborealContext;
		display: block;
		@include width($arborealWidth);
		
		> * {
		
			display: block;
		
		}
	
	}
	
	.storeContext {
	
		@include arborealContext;
		@include width($arborealWidth + (2 * $arborealSidebarSpacing));
	
	}










	









//	! 
//	! 
//	! 
//	! 
//	! 
//	!Headers & Footers …………………………………………………………………………………………………………………………………………………………
	









//	! 
//	!Header
	
	body > header {
	
		@include uaDisableSelection;
	
		height: 2 * $pack;
		
		h1 {
		
			float: left;
		
			a {
			
				display: block;
				@include size(4 * $pack, 2 * $pack);	
				background: url(../arboreal.images/arboreal.logotype.main.png) no-repeat left bottom;
			
			}
		
			span {
			
				display: none;
			
			}
		
		}
	
	
	//	The navigation bar
	
		nav {
		
			@include uaDisableTextZoom;
		
			float: right;
			margin-top: 9 * $slice;
			
			ul {
			
			//	A semi-transparent black overlay over a particular color
			//	@color - rgb(255, 255, 255) * percentage
			
				height: $arborealNavigationBarHeight - (2 * $arborealNavigationBarBorderWidth);
				border: $arborealNavigationBarBorderWidth solid ($arborealNavigationBarBackdrop - (rgb(255, 255, 255) * 0.05));
				background: $arborealNavigationBarBackdrop;

				@include borderRadius(4.5px);
				@include boxShadow2(rgba(0, 0, 0, .35), 0px, -1px, 0px, rgba(255, 255, 255, .5), 0px, 1px, 0px);
				
				overflow: visible;
			
				li {
				
					position: relative;
				
					display: block;
					float: left;
					
					@include text(18px, $arborealNavigationBarHeight, rgb(32, 76, 0));
					@include size(1.5 * $pack, $arborealNavigationBarHeight);
					
					margin-top: -1 * $arborealNavigationBarBorderWidth;
					text-align: center;
					vertical-align: middle;
					
					&:first-child {
					
						margin-left: -4px;
						@include borderRadius(4.5px, 0, 0, 4.5px);
						
					}
					
					&:last-child {
					
						margin-right: -4px;
						@include borderRadius(0, 4.5px, 4.5px, 0);
						
					}
					
					+ li {
					
						&:before {
	
							@include glareSplitHorizontal;
							position: absolute;
							left: -1;
							height: $arborealNavigationBarHeight;

						}
					
					}
					
					a {
					
						@include full;
						height: $arborealNavigationBarHeight;
					
					}
				
				}
				

			//	The Information section has a glyph instead of plain text
				
				li a[href*='information'] {
					
					span {	display: none;	}
					
					background: url(../arboreal.images/arboreal.navigationBar.information.png) center no-repeat;
				
					&:hover {
					
						background: url(../arboreal.images/arboreal.navigationBar.information.hover.png) center no-repeat;
					
					}
					
				}
				
				li.active a[href*='information'] {
				
					background: url(../arboreal.images/arboreal.navigationBar.information.active.png) center no-repeat;
				
				} 
				
				
			//	States	
				
				li:hover,
				li.hover {

					background: rgba(0, 0, 0, 0.25);
					color: white;
					text-shadow: none;	
				
				}
				
				li + li:hover,
				li + li.hover {
				
					&:before {
	
						@include glareSplitHorizontalReversed;
						position: absolute;
						left: -1;
						height: $arborealNavigationBarHeight;

					}
					
				}
				
				
				
				
				
				li, li.active, li.active:hover {
				
					text-shadow: 	rgba(255, 255, 255, .4) 0px 1px 0px,
							rgba(0, 0, 0, .15) 0px -1px 0px;
							
					background: none;
					
					&:before {
					
						@include glareSplitHorizontal;
					
					}
				
				}
				
				li.active,
				li.active:hover {
				
					color: rgb(16, 38, 0);
					
				}
				
				li.active:after {
						
					@include pseudoBlock;
					@include size(2 * $slice, 4 * $slice);
					
					position: absolute;

					left: 50%;
					margin-left: -1 * $slice;
					
					top: 100%;
					margin-top: -2 * $slice;
					background: url(../arboreal.images/arboreal.navigationBar.active.indicator.png) center no-repeat;
				
				}
			
			}
		
		}
		
		+ * {
		
			clear: both;
		
		}
	
	}
	









//	! 
//	!Footer
	
	body > footer {
	
		@include uaDisableTextZoom;
		
		@include fullInset(auto, 0px, 0px, 0px);	
		@include width(100%);
		padding: 0;
	
		background: $arborealFooterBackdrop;
		
		@include borderInset("top", rgba(255, 255, 255, .65));

		@include text(14px, $pack, rgb(38, 38, 38));

		text-shadow: 	rgba(255, 255, 255, .2) 0px 1px 0px,
				rgba(0, 0, 0, .15) 0px -1px 0px,
				rgba(255, 255, 255, .2) 0px 0px 1px;

		white-space: nowrap;
		
				
		&:before {
		
			@include shadowDownBlock(2px);
		
		}
		
		
		div {
		
			overflow-y: hidden;
			@include size($arborealWidth, $pack);

			padding: 0px (2 * $arborealSideSpacing);			
			margin: 0 auto;
			
			* {
		
				display: inline;
			
			}
		
		}


		ul li {
			
			height: 2 * $slice;
			margin-right: 2 * $slice;
		
			&:last-child {
			
				margin-right: 0;
			
			}
			
			a {
			
				@include link;
				padding: 0 $slice;
				margin: 0 (-1 * $slice);
				@include borderRadius($slice);
			
				&:active {
				
					background: rgba(0, 0, 0, .35);
				
				}

				
				&:hover {

					background: rgba(0, 0, 0, .2);
					@include boxShadow(rgba(255, 255, 255, .25), 0px, 1px, 0px);
					color: white;
					text-shadow: rgba(0, 0, 0, .25) 0px 0px 1px;
				
				}	
			
			}
			
		}
		
		
		.credits {
		
			@include inlineBlock;
			@include size((2 * $pack), $pack);
			float: right;
			
			span {
			
				display: none;
			
			}
		
		}
		
	}










//	! 
//	! 
//	! 
//	! 
//	! 
//	!Context ……………………………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Context: Article

	.context > article > article {
	
		header {
		
		}
		
		p {
		
		}
		
		footer {
		
		}
	
	}
	
	
	
	
	
	
	
	
	

//	! 
//	!Context: Sidebar

	aside {
	
		@include text(14px, 18px, #444);
		
		p {
		
			+ p {
			
				margin-top: 2 * $slice;
			
			}
		
		}
	
	}










//	! 
//	!Context: Sidebar: Calendar Box

	.calendar {
	
		@include uaDisableSelection;
		@include uaDisableTextZoom;
		
		padding: 0 (2 * $slice);
		@include borderImage(url(../arboreal.images/arboreal.calendar.portal.backdrop.png), 54, 36, 54, 36, stretch);
		margin: -36px -36px -54px -36px;
		background-color: transparent;
		
		h2 {
		
			@include text(16px, (.5 * $pack));
			text-align: center;
			font-weight: bold;
			
			position: relative;
			
			&:before {
			
				@include pseudoBlock;
				
				position: absolute;
				@include size(4 * $slice);
				
				top: 4 * $slice;
				left: 0;
				
				background: url(../arboreal.images/arboreal.calendar.sunday.png) center no-repeat;
				background-color: $arborealPanelBackdrop;
				
				z-index: 256;
			
			}
			
			&:after {
			
				position: relative;
				top: 18px;
				@include glareSplitVertical(36px);
				margin: 0 (-2 * $slice);
				
				z-index: 128;
			
			}
			
			margin-bottom: 4 * $slice;
		
		}
	
		time {
		
			display: block;
			float: left;
			@include size(1 * $arborealCalendarItemWidth, 1 * $arborealCalendarItemWidth);
			@include text(16px, 36px);
			
			text-align: center;
			font-weight: bold;
			
			color: rgba(0, 0, 0, .35);
				
		}
		
		br {
		
			@include size(0px);
			clear: both;
		
		}
		
		.active {
		
			color: rgba(0, 0, 0, .6);
			
		
		}
		
		.secondaryDate {
		
			display: none;
		
		}
		
		&:hover .secondaryDate {
		
		//	display: block;
		
		}
		
		.today {
		
			color: black;
			background: rgb(223, 225, 219);
			@include borderRadius(4.5px);
		
		}
		
		.closed {
		
			color: rgba(0, 0, 0, .1);
			
			position: relative;
		
			&:before {
			
				@include pseudoBlock;
			
				position: absolute;
			
				@include borderImage(url(../arboreal.images/arboreal.calendar.portal.tooltip.backdrop.png), 18, 36, 18, 18, stretch);
				
				padding-left: 18px;
				
				top: -45px;	
				right: -9px;			
				
				z-index: 256 + 64;
				
				content:"公休";
				white-space: nowrap;
				
				@include text(16px, 16px, white);
				font-weight: normal;
				
				display: block;
				text-align: center;
				
				opacity: 0;
				
				@include transition(.125s);
				
				margin-top: 9px;
				
				visibility: hidden;
				
			}
			
			&:hover {
			
				&:before {
				
					margin-top: 0px;
				
					opacity: 1;
					
					visibility: visible;
				
				}
			
			}
		
		}
		
		
		.leadingSunday {	margin-left: 0 * $arborealCalendarItemWidth;	}
		.leadingMonday {	margin-left: 1 * $arborealCalendarItemWidth;	}
		.leadingTuesday {	margin-left: 2 * $arborealCalendarItemWidth;	}
		.leadingWednesday {	margin-left: 3 * $arborealCalendarItemWidth;	}
		.leadingThursday {	margin-left: 4 * $arborealCalendarItemWidth;	}
		.leadingFriday {	margin-left: 5 * $arborealCalendarItemWidth;	}
		.leadingSaturday {	margin-left: 6 * $arborealCalendarItemWidth;	}

		.details, .actions {
		
			margin: 0px (-2 * $slice);
		
		}		
		
		
		
		
		
		.details:empty, .details[irCalendarEngineBusy='true'] {
		
			&:after {
			
				display: block;
			
			}
		
		}
		
		.details[irCalendarEngineBusy='error'] {
		
			&:after {
			
				display: block;
				content: "Host Unreachable";
			
			}
		
		}
		
		.details {
		
			clear: left;
			background: $arborealPredicateBarBackdrop;
			
			margin-top: (2 * $slice);			
			padding: $slice 0;

			&:before {
			
				@include shadowDownBlock;
				top: -4px;
			
			}
			
			+ * {
			
				position: relative;
			
				&:before {
			
					@include shadowUpBlock;
					@include fullInset(0, 0, auto, 0);
					top: 0px !important;		// FIXME: bug
				
				}
			
			}
			
			&:after {

				@include pseudoBlock;
			
				content: "Loading…";
				@include text(16px, $pack, white);
				text-align: center;
				
				height: $pack;
				
				display: none;
				
				font-weight: bold; 
			
			}
			
			li {
			
				@include link;
				
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent;
				
				padding: ($slice - 1) (2 * $slice);
				color: white;
				
				&:first-child {
				
					margin-top: $slice;
				
				}
			
			}
			
			a {
			
				display: block;
				
				width: 100%;
				
				margin: (-1 * $slice) (-2 * $slice);
				padding: $slice (2 * $slice);
			
			}

			li[irCalendarEngineTemplate='true'] {
			
				display: none;
			
			}
			
			li:hover, li.active {
			
				background: rgba(0, 0, 0, .125);
				@include gradientBackdropVertical(rgba(0, 0, 0, .075), rgba(0, 0, 0, .250));
				
				border-top: 1px solid rgba(0, 0, 0, .125);
				border-bottom: 1px solid rgba(0, 0, 0, .350);
			
			}
			
			li:active {
			
				background: rgba(0, 0, 0, .125);
				@include gradientBackdropVertical(rgba(0, 0, 0, .625), rgba(0, 0, 0, .35));
				
				border-bottom-color: rgba(255, 255, 255, .35);
			
			}
		
			time {
			
				display: block;
				@include size(auto);
				float: none;
				text-align: left;
				font-weight: normal;
				
				color: inherit;
				
				@include text(16px, 18px);
				
				opacity: .75;
			
			}
			
			span {
			
				@include inlineBlock;
								
				@include text(18px, 27px);
				@include textStroke;
							
			}
		
		}
		
		.actions {
		
			text-align: center;
			margin-bottom: -2 * $slice;
			
			height: 6 * $slice;
			
			li {
			
				@include size(2 * $pack, 6 * $slice);
				@include text(18px, 54px);
				@include inlineBlock;
				
				position: relative;
				
				a {
				
					@include link;
				
					@include full(3px);
					
					padding: 0 $slice 0 (4 * $slice);
										
					background-position: left center;
					background-position-x: $slice;
					background-repeat: no-repeat;
					
						@include transition(.05s);
						-webkit-transition-property: background-color, -webkit-box-shadow;
						@include borderRadius(3px);
					
						color: black;
						background-image: url(../arboreal.images/arboreal.calendar.portal.glyph.normal.png);
						opacity: .5;
					
					&:hover {

						background-color: rgb(153, 153, 153);
						color: white;
					
						background-image: url(../arboreal.images/arboreal.calendar.portal.glyph.hover.png);
						opacity: 1;
						
						@include animation(arborealCalendarActionHoverAnimation, 2.5s, infinite);
					
					}
					
					&:active {
					
						background-color: rgb(89, 89, 89);
						color: white;
						text-shadow: 0px 1px 2px rgba(0, 0, 0, .65);
					
						background-image: url(../arboreal.images/arboreal.calendar.portal.glyph.active.png);
						opacity: 1;
						
						@include boxShadowInner(rgba(0, 0, 0, .75), 0px, 0px, 4px);
						
						@include animation(none, 0s, 0);
					
					}
				
				}
				
				&:before, &:after {
				
					@include glareSplitHorizontal;
					height: 100%;
				
				}
				
				&:after {
				
					position: absolute;
					right: 0;
					top: 0;
				
				}
			
			}
		
		}
	
	}
	
	
	
	
	
//	! 	
//	!Context: Sidebar: Teal Box

	.tealBox {
	
		@include borderImage(url(../arboreal.images/arboreal.aside.tealBox.backdrop.png), 36, 36, 36, 108, stretch);
		
		margin: -2 * $slice;
		
		margin-top: $pack;
		margin-bottom: 0px;
		
		background-color: transparent;
		
		> * {
		
			margin-left: -1 * $pack;
		
		}
		
		header {
		
			> * {
			
				margin-left: -1 * $pack;
			
			}
		
			margin-left: -12 * $slice;
			margin-right: -4 * $slice;
			margin-top: -4 * $slice;	
			
			@include borderImage(url(../arboreal.images/arboreal.aside.tealBox.header.backdrop.png), 36, 36, 36, 108, stretch);
			
			h2 {
			
				margin-top: -1 * $slice;
			
				@include text(20px, 36px, rgb(44, 68, 87));
				text-shadow:	0px 1px 0px rgba(255, 255, 255, .65),
						0px -1px 0px rgba(0, 0, 0, .15);
						
				@include textDelimited;
				margin-bottom: -1 * $slice;
			
			}
			
			time {
				
				@include text(13px, 27px, rgb(64, 64, 64));
				
				margin-bottom: -1 * $slice;
			
			}
		
		}
		
		@include text(13px, 18px);
		
	}





	



	
	
	
	
	
	
	
	
	
	

	
	
	
	
	
	
	
	
	


	
	
	
	
	
	
	

//	! 
//	! 
//	! 
//	! 
//	! 
//	!Portal ………………………………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Portal: Gallery Box
		
	.gallery {
	
		height: 5 * $pack;
		padding: 18px !important;
		position: relative;
		margin-top: 2 * $slice;
		margin-bottom: 6 * $slice;
		
		&:before {
		
			@include full;
			@include pseudoBlock;
			z-index: 1024;
			@include borderImage(url(../arboreal.images/arboreal.gallery.cover.png), 54, 54, 54, 90, round);
		
		}
		
		li.default, li.current {
		
			z-index: 512;
		
		}
		
		> li {
		
			@include full;
			background: black;
			
			a {
			
				@include full;
				overflow-y: hidden;
				
				img {
				
					@include size(100%, auto);
					min-height: 100%;
				
				}
			
			}
					
		}
		
		li.spotties {
		
			background: transparent;
		
			@include fullInset(auto, 0, (-.5 * $slice), 0);
			
			z-index: 2048;
			
			ul {
			
				display: table;
				margin: 0 auto;	
				border-spacing: $slice 0;
		
			}
			
			li {
			
				display: table-cell;
				
				@include size($slice);
				@include width($slice);				
				@include borderRadius(4.5px);
				
				background: rgb(88, 88, 88);
				opacity: .55;
				
				@include transition(.125s);
				@include link;
			
			}
			
			li.active, li:hover {
			
				opacity: 1;
			
			}
		
		}
	
	}
	




//	! 
//	!Portal: Twitter Stream Box

	.context > article > .twitterStream {
	
		@include uaDisableTextZoom;
		@include typeSansSerifUniversal;
		
		@include borderImage(url(../arboreal.images/arboreal.article.twitterStream.backdrop.png), 36, 108, 36, 36, round);
		
		margin: -2 * $slice;
		
		@include text(20px, 36px, rgb(52, 62, 64));
		
		div {
		
			margin-right: -72px;
		
		}
		
		span {
		
			text-shadow: 	rgba(255, 255, 255, .2) 0px 1px 0px,
					rgba(0, 0, 0, .05) 0px -1px 0px,
					rgba(0, 0, 0, .05) 0px 0px 4.5px;
					
			@include textStroke;
			
			a {

				@include inlineBlock;
				@include textDelimited;
				
				@include size(0, 4 * $slice);
				color: transparent;
				text-shadow: none;
				
				padding-right: 11 * $slice;
				
				white-space: nowrap;
				
				position: relative;
				
				vertical-align: middle;
				
				&:after {
				
					position: absolute;
					right: 0px;
					top: -2px;
					
					@include pseudoBlock;
					@include inlineBlock;
					vertical-align: top;
					
					@include size(11 * $slice, 4 * $slice);
					
					background: url(../arboreal.images/arboreal.article.twitterStream.linkBadge.png) center no-repeat;
					
					color: transparent;
					text-shadow: none;
					
					overflow: hidden;
				
				}
			
			}
		
		}
		
		a[title*='more'] {
		
			@include inlineBlock;
			@include size(36px, 36px);
			vertical-align: top;
		
			background: url(../arboreal.images/arboreal.article.twitterStream.information.png) center no-repeat;
		
			span {
		
				display: none;
			
			}
			
			display: none;
		
		}
		
		time {
		
			@include inlineBlock;
			float: right;
			margin-top: 2 * $slice;
			@include text(12px, 18px);
		
		}
	
	}
	
	
	
	
	
//	! 
//	!Portal: Blog Post Box

	.blogPosts {
	
		@include borderImage(url(../arboreal.images/arboreal.article.blogPosts.backdrop.png), 36, 36, 54, 36, round);
		
		margin: 36px -18px 0 -18px;
		
		padding-bottom: 18px;
	
		h2 {
		
			@include arborealBlogArticleHeaderTitle;
			@include width($arborealArticleWidth - (4 * $slice));
			@include textDelimited;
			
			line-height: 4 * $slice;
			
			time {
			
				@include inlineBlock;
				padding-right: 0.5em;
				
				font-weight: bold;
				text-align: left;
			
			}
				
		}
		
		p {
		
			@include text(14px, 18px, rgb(89, 89, 89));
			margin-bottom: 2 * $slice;
		
		}
		
		li + li {
		
			&:before {
				
				@include glareSplitVertical(36px);
				margin: 0 (-2 * $slice);
		
			}
			
			h2 {
			
				margin-top: 2 * $slice;
			
			}
			
			
		}
		
		.more {
		
			@include link;
		
			height: 4 * $slice;
			margin-bottom: -4 * $slice;
			
			background: url(../arboreal.images/arboreal.article.blogPosts.more.png) center right no-repeat;
			
			position: relative;
			
			a {
			
				@include full;
				margin: 0 (-2 * $slice);
				@include borderRadius(0px, 0px, 9px, 9px);
				
				text-align: right;
				@include text(16px, 36px, rgb(89, 89, 89));
			
				span {
			
					display: none;
					margin-right: 6 * $slice;
					text-transform: uppercase;

				}
				
				&:hover {
				
					background: rgba(0, 0, 0, .05);
				
				}
			
			}
			
			
		
		}
	
	}




	





//	! 
//	! 
//	! 
//	! 
//	! 
//	!Blog ……………………………………………………………………………………………………………………………………………………………………………………………


	
	
	
	
	
	
	
	
//	! 
//	!Blog: Predicate Navigation

	#blogNavigation {
	
		@include width(100%, ($arborealWidth + (2 * $arborealSidebarSpacing)), 100%);
		padding: 0px;
	
		background: $arborealPredicateBarBackdrop;
		position: relative;

		margin-top: 4 * $slice;		
		margin-bottom: 1.5 * $pack;
		
		@include boxShadow(rgba(255, 255, 255, .5), 0px, 0px, 9px);
		
	//	Shadows
				
		&:before, &:after {
		
			z-index: 128;
			@include pseudoBlock;
		
		}
		
		&:before {
			
			@include fullInset(0, 0, auto, 0);
			@include borderInset("top", rgba(0, 0, 0, .2));
		
		}
		
		&:after {
		
			@include fullInset(auto, 0, 0, 0);
			@include borderInset("bottom", rgba(255, 255, 255, .45));
		
		}
	
	
	//	The disclosure tab
	
		.tab {
		
			@include link;
			@include uaDisableTextZoom;
		
			display: block;
			@include size((12 * $slice), (4 * $slice));
			
			position: absolute;
			
			bottom: -4 * $slice;
			left: 50%;
					
			padding-left: 2 * $slice;
			margin-left: 40 * $slice - 2 * $slice;
			
			padding-bottom: 2 * $slice;
			margin-bottom: -2 * $slice;
			
			padding-right: 2 * $slice;
			margin-right: -2 * $slice;
			
			padding-top: 0 * $slice;
			margin-top: 0 * $slice;

			background-repeat: no-repeat;
			background-position: center bottom;
			
			z-index: 1024;
			
			@include transition2(.250s, padding-top, margin-top);
		
			background: url(../arboreal.images/arboreal.article.blogPosts.predicate.toggle.png) center bottom no-repeat;
				
			span {
			
				display: block;
				@include size(100%, 100%);
				overflow-x: hidden;
				text-indent: 2 * $pack;
			
				background: url(../arboreal.images/arboreal.article.blogPosts.predicate.toggle.glyph.png) center no-repeat;
				
				&:hover {
			
					background: url(../arboreal.images/arboreal.article.blogPosts.predicate.toggle.glyph.hover.png) center no-repeat;
			
				}
				
			}
	
		}
		
		.tab.active {
		
			padding-top: (2 * $slice) !important;
			margin-top: (-2 * $slice) !important;
			
			background: url(../arboreal.images/arboreal.article.blogPosts.predicate.toggle.active.png) center bottom no-repeat;
				
			span {
			
				background: url(../arboreal.images/arboreal.article.blogPosts.predicate.toggle.active.glyph.png) center no-repeat;
			
			}
		
		}
		
		
	//	Content wrapper
		
		> div {
	
			display: none;
		
		}
		
		div {
		
			@include width($arborealWidth + 4 * $slice);
			margin-left: auto;
			margin-right: auto;
		
		}
	
	
	//	Actual content
		
		section {
		
			@include arborealContext;
			margin-top: 0px;
			@include width($arborealWidth + 4 * $slice);
			padding: 0px !important;
			border-spacing: 18px 18px;
			
			section.search {
				
				@include width(4 * $pack - 2 * $slice);
				padding: (2 * $slice) !important;
				background: rgba(0, 0, 0, .15);
				@include boxShadowInner(rgba(0, 0, 0, .25), 0px, 0px, 8px);
				
				border: 1px solid rgba(255, 255, 255, .15);
				margin: (2 * $slice - 1px) !important;
				
				@include borderRadius(9px);
				
				display: table-cell;
			
				input {
				
					@include width($arborealSidebarWidth - 4 * $slice - 2);
					border: 1px solid rgba(0, 0, 0, .50);
					
					padding-left: $slice;
					padding-right: $slice;
					
					margin-bottom: 2 * $slice;
					
					@include text(18px, (4 * $slice - 2), white);
					min-height: (4 * $slice - 2);
					
					@include borderRadius(4.5px);
					
					@include gradientBackdropVertical(rgba(0, 0, 0, .55), rgba(0, 0, 0, .30));
					@include boxShadow(rgba(255, 255, 255, .2), 0px, 1px, 0px);	
				
				}
			
				ul {
				
					display: block;
				
					margin-left: 2 * $slice;
					padding-left: 4 * $slice;
					
					li {
				
						@include inlineBlock;
						@include text(13px, 18px, white);
						
						margin-right: $slice;
					
					}
					
					margin-bottom: 2 * $slice;
					
					&:last-child {
					
						margin-bottom: 0;
					
					}
					
					background-position: center left;
					background-repeat: no-repeat;
				
				}
				
				ul.tags {
				
					background-image: url(../arboreal.images/arboreal.article.blogPosts.predicate.tags.png)
				
				}
				
				ul.categories {
				
					background-image: url(../arboreal.images/arboreal.article.blogPosts.predicate.categories.png);
				
				}
			
			}
			
			position: relative;
			
			aside.browse {
			
				display: table-cell;
				
				@include width(8.5 * $pack);
				
				&:before, &:after {
				
					position: absolute;
					top: 0;
					bottom: 0;
					
					margin: 0;
					height: (2 + $arborealBlogPredicateBarRowsVisible) * $arborealBlogPredicateBarRowHeight;
					
					opacity: .25;
				
				}
								
				ul.years {
				
					@include uaDisableSelection;
				
					position: absolute;
					
					width: 3 * $pack;
					
					background-color: rgba(0, 0, 0, .65);
					@include boxShadowInner(rgba(0, 0, 0, .35), 0px, 0px, 9px);
					
					top: 0px;
					bottom: 0px;
					
					border-left: 1px solid rgba(255, 255, 255, .45);
					border-right: 1px solid rgba(255, 255, 255, .45);
					
					margin-left: -1px;
					margin-right: -1px;
					
					z-index: 32;
				//	The z-index is needed for the outset border to show over
				
					li {
					
						@include text(24px, 36px, white);
						text-align: center;
						font-weight: bold;
						
						@include size(100%, $pack);
						position: relative;
						
						text-shadow: 0px 0px 6px rgba(255, 255, 255, .5);
						
						&:first-child {
						
							margin-top: 0.5 * $pack;
						
						}
						
						top: 3px;	//	baseline: abnormal;
						
						@include transition(.125s);
											
					}
					
					li:active {
					
						@include animation(arborealSlightDimLightAnimation, 1.5s, infinite, ease-in-out);
					
					}
					
					li h3 {
					
						@include link;
						opacity: .5;
						@include transition(.125s);
						
						position: relative;
					
					}
					
					&:active li {
					
						opacity: .65;
					
					}
					
					&:active li:active {
					
						opacity: .1;
					
					}
					
					li:active h3, li.active h3 {
					
						opacity: 1;
					
						&:before, &:after {

							@include pseudoBlock;						
							@include size(100%, 4px);
							
							background-color: white;
							
							position: absolute;
							
							bottom: 50%;
							
							@include boxShadow(rgba(255, 255, 255, .5), 0px, 0px, 6px);
							@include borderRadius(2px);
						
						}
						
						&:before {
						
							margin-left: -1.5em;
							left: -50%;
						
						}
						
						&:after {
						
							margin-right: -1.5em;
							right: -50%;
						
						}
					
					}

					overflow: hidden;
				
				}
				
				ul.articles {
				
					position: absolute;
					
					width: (8.5 - 3) * $pack;
					right: 2 * $slice;
					
					top: 0;
					bottom: 0;					
					
					&:before {
					
						@include pseudoBlock;
						@include full;
						@include borderImage(url(../arboreal.images/arboreal.blog.predicate.articleTitles.backdrop.png), 72, 144, 0, 90, stretch);
						
						z-index: 8;
					
					}
					
					li {
					
						position: relative;
						z-index: 16;
						
						@include text(18px, 36px, white);
						margin-left: 4 * $slice;
						
						&:first-child {
						
							margin-top: 0.5 * $pack;
						
						}
						
						top: 3px;
					
					}
					
					overflow: hidden;
				
				}
			
			}
		
		}
	
	}
	
	
	#blogNavigation.active {
	
		margin-bottom: $pack;
		
		&:before {
	
			@include shadowDownBlock(4px);
			@include fullInset(0, 0, auto, 0);
			@include borderInset("top", rgba(255, 255, 255, .65));
		
		}
		
		&:after {
		
			@include shadowUpBlock(4px);
			@include fullInset(auto, 0, 0, 0);
			@include borderInset("bottom", rgba(255, 255, 255, .65));
		
		}
	
	}
	
	 



//	! 
//	!Blog: Pagination Navigation

	.context article + nav {
	
		text-align: center;
		@include text(20px, 36px, rgb(39, 73, 37));
	
		a {
		
			@include inlineBlock;
			height: 4 * $slice;
			padding: (2 * $slice) 0;
		
			&:first-child {
			
				&:before {
				
					content: "«";
					@include inlineBlock;
					padding-right: $slice;
				
				}
			
			}
			
			&:last-child {
			
				&:after {
				
					content: "»";
					@include inlineBlock;
					padding-left: $slice;
				
				}
			
			}
		
			+ a {
		
				&:before {
				
					@include pseudoBlock;
					@include inlineBlock;
					width: 4 * $slice;
				
				}

			}
		
		}
	
	}





//	! 
//	!Blog: Single Post

	.blogPost,
	article article {
	
		@include borderImage(url(../arboreal.images/arboreal.article.blogPost.backdrop.png), 36, 27, 36, 27, round);
		
		margin: 0px (-2 * $slice) (4 * $slice) (-2 * $slice);
		padding: 0px $slice;

		header {
		
			@include typeSansSerifNeo;
		
			@include uaDisableTextZoom;
			position: relative;

			time {

				@include uaDisableSelection;
				@include arborealBlogArticleHeaderDateTime;
				
				@include inlineBlock;
				@include size(16 * $slice, 6 * $slice);
				
				float: left;
				
				position: relative;
				top: 3px;			//	line-height: abnormal;
				
				&:after {
				
					@include glareSplitHorizontal;
					height: 6 * $slice;					
					position: absolute;
					top: -3px;		//	line-height: abnormal compensation
					right: 2 * $slice;
				
				}
			
			}

			h2 {
			
				@include arborealBlogArticleHeaderTitle;
				@include width($arborealArticleWidth + 4 * $slice);
				@include textDelimited;
				
			}
			
			ul {
			
				@include arborealBlogArticleHeaderCategoriesAndTags;

				display: block;
				
				li {
				
					display: inline;
				
				}
			
			}
			
			.actions {
				
				@include uaDisableSelection;
				
				@include fullInset(0, 0, auto, auto);
				@include size(auto, 4 * $slice);
				
				display: table;
				border-spacing: 0px 0px;
				
				li {
				
					display: table-cell;
					vertical-align: top;
					
					a {

						@include size(4 * $slice);
					
					}
					
					padding: 0px (2 * $slice);
					
					+ li {
					
					//	The second action item, which is optional, will always be bordered.
				
						border: 2px solid rgb(240, 240, 240);
						padding: 0px;
						
						&:hover, &:active, .active {
						
							border-color: rgb(216, 216, 216);
						
						}
						
						@include borderRadius(4.5px);
					
						a {
						
							margin: -2px;
					
						}
					
					}
				
				}
				
				
				
				
				
				a {
				
					margin: 0;
				
					span {
					
						display: none;
					
					}
				
					display: block;
				
				}
				
				a.comments {
				
					@include borderImage(url(../arboreal.images/arboreal.article.blogPost.header.comments.png), 9, 27, 9, 27, stretch);
					
					@include size(auto , 2 * $slice);
					
					@include text(18px, 18px, white);
					
					margin: 0 (-1 * $slice);
					
					&:hover {
					
						@include borderImage(url(../arboreal.images/arboreal.article.blogPost.header.comments.hover.png), 9, 27, 9, 27, stretch);
						
						span.count {
						
							max-width: none;	//	Always show on hover
						
						}
						
					}
					
					span.count {
					
						@include inlineBlock;
						@include width(auto, 18px, 36px);
						@include textDelimited;			//	Needs “Lots”?
						
						margin: 0px -9px;
						text-align: center;
						position: relative;
						top: 1px;			//	line-height: abnormal;
					
					}
				
				}
				
				a.share {
				
					background-position: center center;
					background-repeat: no-repeat;
					
					background-image: url(../arboreal.images/arboreal.article.blogPost.header.share.png);
					
					&:hover {
					
						background-image: url(../arboreal.images/arboreal.article.blogPost.header.share.hover.png);
						
					}
				
					&:active {
					
						background-image: url(../arboreal.images/arboreal.article.blogPost.header.share.active.png);
					
					}
					
					@include transition(.5s);
				
				}
				
				a.share.active {
				
					@include transformRotate(135deg);
					
					background-image: url(../arboreal.images/arboreal.article.blogPost.header.share.active.png);
									
				}
				
				a.share.fastAnimation {
				
					@include transition(0s);
				
				}
				
				a.share.disclosed {
				
					@include transformRotate(0deg);
					background-image: url(../arboreal.images/arboreal.article.blogPost.header.share.disclosed.png);
				
				}
			
			}
			
			
			
			
			
			section.share {
			
				@include uaDisableSelection;
			
				padding: 0;
				
				@include borderInset("top", rgba(0, 0, 0, .20));
				@include borderInset("bottom", rgba(255, 255, 255, .45));
				
				@include transition2(.25s, border-top-color, border-bottom-color);
				
				margin: (2 * $slice - 1) (-2 * $slice);
				
				position: relative;

				overflow: hidden;
			//	hides the :before during the slide animations.
				
				&:before {
				
					@include pseudoBlock;
					
					content: "Share On:";
					text-transform: uppercase;
					@include text(20px, 36px, rgba(255, 255, 255, .5));
					
					@include fullInset((2 * $slice), auto, (2 * $slice), (2 * $slice));
					
					z-index: 18;
										
					margin-top: 3px;			//	line-height: abnormal;
				
				}
				
				ul {
				
					@include transition1(.25s, background-color);
				
					display: none;
					
					margin: 0;
					padding: 2 * $slice;
					
					text-align: center;
					
					position: relative;

					&:before {

						@include shadowDownBlock(3px);
						@include fullInset(0, 0, auto, 0);
						border-top: 1px solid rgba(0, 0, 0, .65);
						
						top: 3px;
					
					}
					
					&:after {
					
						@include shadowUpBlock(3px);
						@include fullInset(auto, 0, 0, 0);
						border-bottom: 1px solid rgba(0, 0, 0, .65);
						
						bottom: 0px;
					
					}
					
					li {
					
						@include link;
					
						@include inlineBlock;
						@include size(16 * $slice, 4 * $slice);
						
						@include borderInset(white, 2px);
						margin: 0 (2 * $slice - 2);
						
						@include text(20px, (36px - 2px), white);
						
						text-align: center;
						
						@include borderRadius(9px);
						
						span {
						
							position: relative;
							top: 3px;
						
						}
					
					}
				
				}
				
			}
			
			section.share.active {
			
				border-top-color: rgba(255, 255, 255, .45);
				border-bottom-color: rgba(255, 255, 255, .65);
				
				ul {
				
					display: block;
				
				}
				
				ul li {
				
					@include transition(.125s);
				
				}
				
				ul:hover li {
				
					opacity: .75;
				
				}
				
				ul li:hover {
				
					@include animation(arborealSlightDimLightAnimation, 2.5s, infinite, ease-in-out);
				
					background-color: rgba(255, 255, 255, .25);
					@include boxShadow(rgba(255, 255, 255, .55), 0px, 0px, 2px);
					text-shadow: 0px 0px 2px rgba(255, 255, 255, .55);
				
				}
				
			}
			
			
			
			
			
			section.share ul {
				
				background-color: $arborealBlogShareArticleBackdrop;
			
			}
			
			section.share.plurk ul {
			
				background-color: $arborealBlogShareArticleBackdropPlurk;
			
			}
			
			section.share.twitter ul {
			
				background-color: $arborealBlogShareArticleBackdropTwitter;
			
			}
			
			section.share.facebook ul {
			
				background-color: $arborealBlogShareArticleBackdropFacebook;
			
			}
		
		}
		
		
		
		
		
		@include typeSansSerifUniversal;
		@include text(18px, 27px, rgb(89, 89, 89));
		
		p {
		
			@include text(18px, 27px, rgb(64, 64, 64));
			
			+ p {
			
				margin-top: 27px;
			
			}
		
		}
		
		.wrapStrap {
		
			@include inlineBlock;
			position: relative;
			
			padding: 3px;
			margin: ($pack - 3px);
			
			background-color: rgb(242, 242, 242);
			@include boxShadow(rgba(0, 0, 0, .50), 0px, 1px, 3px);
			
			&:before, &:after {
			
				@include pseudoBlock;
				position: absolute;
				
				@include size(2 * $pack);
				background: url(../arboreal.images/arboreal.blogPost.decor.cornerStrap.png) center no-repeat;
			
			}
			
			&:before {
			
				left: -1 * $pack;
				top: -1 * $pack;
			
			}
			
			&:after {
			
				right: -1 * $pack;
				bottom: -1 * $pack;
			
			}
			
			img {
			
			//	We need a block element so there is no residue whitespace below it
			
				display: block;
			
			}
		
		}
		
		
		
		
		
		footer {
		
			@include typeSansSerifNeo;
		
			@include uaDisableTextZoom;
			@include uaDisableSelection;
		
			position: relative;
			height: 4 * $slice;

			margin-top: 2 * $slice;
			margin-bottom: -2 * $slice;
			
			@include text(13px, 36px, rgb(39, 73, 37));
			
			text-shadow:	0px 1px 0px rgba(255, 255, 255, .65),
					0px -1px 0px rgba(0, 0, 0, .15);

			text-align: right;
			
		}
		
	}





//	! 
//	!Blog: Comments

	.context + .comments {
	
		margin-top: -1.25 * $pack;
		margin-bottom: 2 * $pack;
	
		@include width(100%, ($arborealWidth + (2 * $arborealSidebarSpacing)), 100%);
		padding: 0px;
		
		position: relative;
	
		background: rgb(160, 180, 181);
		
		> * {
		
			@include width($arborealWidth);
			margin: 0 auto;
		
		}
		
		&:before {
	
			@include pseudoBlock;
			@include fullInset(0, 0, auto, 0);

			@include borderInset("top", rgba(255, 255, 255, .45));
			@include borderInset("bottom", rgba(0, 0, 0, .2));
			
			z-index: 1024 + 512;
		
		}
		
		&:after {
		
			@include pseudoBlock;
			@include fullInset(auto, 0, 0, 0);
			
			@include borderInset("top", rgba(0, 0, 0, .2));
			@include borderInset("bottom", rgba(255, 255, 255, .45));
		
		}
		
		ul {
		
			&:before, &:after {
			
				position: absolute;
			
			}
				
			&:before {
			
				@include pseudoBlock;
				@include borderInset("top", rgba(255, 255, 255, .85));
				
				width: 100%;
				@include shadowDownBlock(4px);
				
				@include fullInset(-1, 0, 0, 0);
				
				top: 3px;
				
				z-index: 64;
				
				position: absolute;
			
			}
			
			&:after {
			
				@include pseudoBlock;
				@include size(50%, 100%);
				
				background-color: rgb(196, 205, 206);
				
				z-index: 0;
				
				margin-right: 2.5 * $pack;
				
				right: 50%;
				top: 0%;
				
				@include boxShadow2(rgba(0, 0, 0, .15), 1px, 0px, 0px, rgba(0, 0, 0, .35), 0px, 3px, 3px);
				border-right: 1px solid rgba(255, 255, 255, .20);
			
			}
			
			padding: (2 * $slice) 0;
		
			li {
			
				clear: left;
			
				margin-left: $arborealSidebarWidth;
				margin-right: -2 * $slice;
	
				@include borderImage(url(../arboreal.images/arboreal.blogPost.comment.backdrop.png), 72, 36, 36, 54, stretch);
								
				@include text(16px, 27px, rgb(64, 64, 64));
				
				> * {
				
					position: relative;
					top: -4 * $slice;
					
					&:last-child {
					
						margin-bottom: -4 * $slice;
					
					}
				
				}
				
				p {
				
					margin-bottom: 3 * $slice;
				
				}
				
				aside {
				
					@include uaDisableTextZoom;
				
					z-index: 32;
					
					width: $arborealSidebarWidth - 16 * $slice;
					@include inlineBlock;
					float: left;
					margin-left: -1 * ($arborealSidebarWidth + $arborealSidebarSpacing - 10 * $slice);
					
					.avatar {
					
						float: left;
						@include size(8 * $slice);
						margin-left: -1.5 * $pack;
						margin-top: -2 * $slice;
						
						@include borderRadius(4.5px);
						@include boxShadowInner(rgba(0, 0, 0, .50), 0px, 0px, 3px);
						background-color: rgb(139, 156, 166);

						position: relative;
						
						overflow: visible;
						
						&:empty {
						
							@include boxShadowInner(rgba(0, 0, 0, .0), 0px, 0px, 0px);
							background: transparent;	
							
							img {
							
								@include boxShadowInner(rgba(0, 0, 0, 0), 0px, 0px, 3px);
							
							}
						
						}
						
						img {
						
							background-color: transparent;
							@include size(100%);
							@include borderRadius(4.5px);
							@include boxShadowInner(rgba(0, 0, 0, .50), 0px, 0px, 3px);
							
							z-index: 32;
													
						}
					
					}
					
					.noShadow {
						
						@include boxShadow(rgba(0, 0, 0, .0), 0px, 0px, 0px);
						background-color: transparent;
						
						img {
						
							@include boxShadowInner(rgba(0, 0, 0, 0), 0px, 0px, 3px);
						
						}
					
					}
					
					h3 {
					
						@include text(24px, 27px);
						font-weight: bold;
						vertical-align: bottom;
					
					}
					
					a {
							
						@include inlineBlock;
					
						background: url(../arboreal.images/arboreal.blogPost.comment.glyph.authorSite.png) top right no-repeat;
						
						background-position-y: -2px;
						
						padding-right: 4 * $slice;
					
					}
					
					time {
					
						@include text(13px, 18px);
					
					}
					
					@include textStroke;
					color: rgb(81, 91, 92);
					font-weight: bold;
					
					text-shadow:	rgba(255, 255, 255, .65) 0px 1px 0px,
							rgba(0, 0, 0, .15) 0px -1px 0px;
				
				}
			
			}
		
		}
		
		section.pagination {
		
			@include uaDisableTextZoom;
			@include uaDisableSelection;
		
			background-color: $arborealBackdrop;
		
			&:before {
			
				@include pseudoBlock;
				@include fullInset(0, 0, -18px, 0);

				width: 100%;
				@include shadowUpBlock(4px);
				position: absolute;
				bottom: $pack;
				top: auto;
				margin-top: 0;
			
			}
			
			position: absolute;
			
			bottom: -1 * $pack;

			@include size(100%, $pack);
			@include width(100%);
			
			text-align: center;
			vertical-align: middle;
			
			a {
			
				@include link;
				@include inlineBlock;
				@include size(4 * $slice);
				padding: (2 * $slice) 0;
				@include text(24px, 36px, $arborealBlogCommentPaginationLink);
				@include typeSansSerifPaleo;
				
				position: relative;
				@include transition(.25s);
			
			}
			
			.previous, .next {
			
				color: transparent;
				@include uaDisableSelection;
			
			}
			
			a, .previous, .next {	opacity: .25;	}
			a.active, a:hover {	opacity: 1;	}
			
			a.active {
			
				z-index: 48;
				
				&:before {
						
					@include pseudoBlock;
					
					@include size(4 * $slice);
					left: 50%;
					top: -100%;
					margin-left: 0px;
					margin-top: -4 * $slice;
					background: url(../arboreal.images/arboreal.blogPost.comment.pagination.active.indicator.png) center no-repeat;
				
				}
			
			}
			
			.newComment {
			
				opacity: 1;
	
				@include size((12 * $slice - 2), (4 * $slice - 2));
				padding-top: 0;
				padding-bottom: 0;
				position: absolute;
				left: 50%;
				margin-left: 5 * $pack;
				top: 2 * $slice;
				
				border: 1px solid rgba(0, 0, 0, .35);
				@include gradientBackdropVertical(rgba(255, 255, 255, .3), rgba(121, 128, 133, .3));
				
				@include boxShadow(rgba(255, 255, 255, .3), 0px, 1px, 0px);
				overflow: hidden;
				
				@include borderRadius(4.5px);
				
				@include uaDisableSelection;
				
				z-index: (1024 + 192) !important;
				
				span {
				
					display: block;
					@include size(12 * $slice, 4 * $slice);
					color: transparent;
					background: url(../arboreal.images/arboreal.blogPost.comment.glyph.addComment.png);
					
					background-position: center;
					background-position: center -1px;
					background-position-y: -1px;
					background-repeat: no-repeat;
				
				}
				
				@include transition(.25s);
				
				&:hover {
				
					@include gradientBackdropVertical(rgba(255, 255, 255, .45), rgba(121, 128, 133, .45));
					border-color: rgba(0, 0, 0, .5);
				
				}
			
			}
			
			.newComment.active,
			.newComment:active {
			
				z-index: 1024 + 192;
				border-color: rgba(0, 0, 0, .65);
				
				@include gradientBackdropVertical(rgba(0, 0, 0, .85), rgba(64, 64, 64, .75));
				
				opacity: .85;
			
				span {
			
					background-image: url(../arboreal.images/arboreal.blogPost.comment.glyph.addComment.active.png);
					
				}
			
			}
		
		}
		
		
		
		
		
		section.commentForm {
		
			@include uaDisableTextZoom;
		
			z-index: 1024 + 128;
		
			@include transition(.25s);
		
			display: block;
			position: absolute;
			
			@include borderImage(url(../arboreal.images/arboreal.blogPost.comment.sheet.backdrop.png), $packRaw, 2 * $packRaw, $packRaw, $packRaw, stretch);
			
			@include size(3 * $pack, 5.375 * $pack);
			@include width(2.5 * $pack);
			
			bottom: -3 * $slice;
			left: 50%;
			
			margin-left: -1 * $pack - 1.5 * $pack + 4.25 * $pack;
			
			form {
			
				@include margin(-2 * $slice + 2, -10 * $slice + 2, -2 * $slice + 2, -2 * $slice + 2);
				position: relative;
				
				> * {
				
					display: block;
				
				}
				
				
			//	Invalid field indication
				
				.input:before {
				
					@include pseudoBlock;
					
					@include size(1.5 * $pack, 7 * $slice);
					@include fullInset(50%, 0px, 0px, -1.5 * $pack);
					margin-top: -1 * (3.5 * $slice + 2 + $slice);
					
					background: url(../arboreal.images/arboreal.blogPost.comment.sheet.indicator.invalidField.png) center no-repeat;
					
					opacity: 0;
					
					@include transition(.125s);
					@include animation(arborealTagCircularMotionAnimation, 2.5s, infinite);
				
				}
				
				.input.invalid:before {
				
					opacity: 1;

				}
			
			
			//	Geometry & faux border
			
				input, .input:after {

					@include borderRadius(4.5px);

					@include size(100%, 6 * $slice - 4);
					
					margin: -2px;
					margin-bottom: 2 * $slice + 2;
					
					border: 2px solid rgb(166, 142, 24);

					@include text(24px, 36px, rgba(0, 0, 0, .5));
					@include textPlaceholderColor;
					
					text-indent: $slice;					
					font-weight: bold;
					
					@include transition(.25s);
					
					&:after {
					
						@include transition(.25s);
					
					}
						
				}

				input.optional, .input.optional:after {
				
					height: 5 * $slice - 4;
					border-style: dashed;

					@include text(18px, 27px, rgba(0, 0, 0, .5));
				
				}	
				
				.input {
				
					position: relative;
					
					&:after {
							
						z-index: -1;
										
						@include pseudoBlock;
						@include full;
						border-color: rgba(255, 255, 255, .35);
						
						margin-top: -1px;
					
					}
				
				}
				
				
			//	Active Highlight	
				
				input:active, input:focus, button:focus {
				
					background-color: rgba(255, 255, 255, .125);
					@include boxShadow(rgba(255, 255, 255, .5), 0px, 0px, 6px);
				
					&:after {
					
						opacity: 0;
					
					}
				
				}
				
			
			//	Comment body
				
				textarea {
					
					@include borderRadius(4.5px);
				
					@include size(3.75 * $pack, 2 * $pack);
					margin: -2px;
					margin-bottom: 2 * $slice + 2;
					
					resize: none;
					
					padding: $slice;
					
					@include gradientBackdropVertical(rgb(217, 212, 148), rgb(230, 224, 157));
					
					@include boxShadow2(rgba(0, 0, 0, .2), 0px, -1px, 0px, rgba(255, 255, 255, .7), 0px, 1px, 0px);
					
					@include text(20px, 36px, rgba(0, 0, 0, .65));
					@include textPlaceholderColor;
					
					@include uiScrollbar;
				
				}
				
				
			//	Submit!	
				
				button {
				
					background: transparent;
					opacity: .75;
				
					@include borderRadius(4.5px);
					@include size(12 * $slice, 5 * $slice);
					@include borderInset(white, 2px);
					
					margin-left: auto;
					
					@include text(20px, 27px, white);
					@include transition(.25s);
				
				}
				
			}
				
		}
		
		section.hiddenCommentForm {
		
			bottom: -4 * $slice;
			opacity: 0;
		
		}
	
	}
	
	
	// Backdrop	
	
	.context + .comments {
	
		&:before {
			
			@include full;
			@include pseudoBlock;
			@include transition(.25);
			
			position: fixed;
			
			background-color: rgba(0, 0, 0, .35);
			
			z-index: 1024 + 96;
			
			display: none;
			opacity: 0;
	
		}
	
	}
	
	.context + .comments.backdropped {
	
		&:before {
		
			display: block;
			opacity: 1;
					
		}
	
	}
	
	
	
	
	




	
//	! 
//	! 
//	! 
//	! 
//	! 
//	!Fairtrade ……………………………………………………………………………………………………………………………………………………………………………………………


	
	
	
	
	
	
	
	
//	!FIXME: Implement.










//	! 
//	! 
//	! 
//	! 
//	! 
//	!Store …………………………………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Store: Message

	.storeMessage {
	
		position: fixed;
		@include size(4.5 * $pack, $arborealNavigationBarHeight);
		@include width(4.5 * $pack, 4.5 * $pack, 6 * $pack);

		top: 0;
		right: 50%;
		margin-right: -0.5 * $arborealWidth;
		
		padding: 0; 
		
		
	//	We use an additional backdrop statement, so a solid RGB fallback is automatically generated
			
		@include gradientBackdropVertical(rgb(220, 202, 109), rgb(193, 173, 65));
		@include gradientBackdropVertical(rgba(220, 202, 109, .98), rgba(193, 173, 65, .95));
					
		> div {
		
			@include fullInset(0, 0, 0, 0);
			border: 1px solid rgb(229, 215, 154);
			border-top-width: 0px;
			padding: 9px 17px 8px 17px;
			
			@include text(18px, 36px, rgb(16, 38, 0));
			
			> * {
			
				@include inlineBlock;
				text-shadow: 	0px 1px 0px rgba(255, 255, 255, .5),
						0px -1px 0px rgba(255, 255, 255, .1);
			
			}
			
			span.amountPayable {
			
				@include text(24px, 36px, rgb(16, 38, 0));
				font-weight: bold;
				
				position: relative;
				top: 2px;			//	line-height: abnormal;
			
			}
		
		}
		
		@include boxShadow(rgba(0, 0, 0, .5), 0px, 2px, 4px);
	
	}





//	! 
//	!Store: Shelf

	.storeShelf {
	
		background: url(../arboreal.images/arboreal.shelf.backdrop.png) top center repeat-y;
		text-align: center;
	
		li {
		
			@include inlineBlock;
			@include size(2 * $pack, 4 * $pack);
			margin: 0 (0.5 * $pack);
		
		}
	
	}










//	! 
//	! 
//	! 
//	! 
//	! 
//	!POS ……………………………………………………………………………………………………………………………………………………………………………………………


	
	
	
	
	
	
	
	
//	!FIXME: Implement.










//	! 
//	! 
//	! 
//	! 
//	! 
//	!Contact …………………………………………………………………………………………………………………………………………………………………………………










//	! 
//	!Contact: Letter Wrap
	
	.letterWrap {
	
		@include uaDisableSelection;
	
		margin: $slice;
		padding: $slice;
		
		position: relative;
		background-color: $arborealPanelBackdrop;
		
		@include borderRadius(2.25px);
		
		&:before {
		
			@include pseudoBlock;
			z-index: -1;
			@include full(-1 * $slice);
			
			background: url(../arboreal.images/arboreal.letter.backdrop.png) top left repeat;
			background-color: white;
			@include borderRadius(4.5px);
			
			@include boxShadow(rgba(0, 0, 0, .45), 0px, 2px, 4px);
		
		}
		
		form {
		
			margin: 0 $slice;

			input, textarea {
		
				width: 100%;
				
				@include recessedGreenField;
				margin-left: -2 * $slice;
				
				display: block;
				
				@include text(27px, (3 * $slice), #444);

			}
			
			textarea {
			
				resize: vertical;
				padding: $slice 0;
			
			}
			
			input {
			
				height: 5 * $slice - 2 * $slice;
				
			
			}
			
			textarea {
			
				min-height: 3 * $pack - 2 * $slice;
			
			}
				
		}
		
		+ a.submitButton {
		
			width: 7 * $slice;
			
			margin-left: auto;
			margin-right: -2 * $slice;
		
		}
	
	}
	
	
	
	
	
	
	
	

	