//	arboreal.style.scss
//	Evadne Wu at Iridia, 2010

@import "../lib.monoSnippets/lib.monoSnippets.reset";

$monoSnippetsDirectory: "ui/lib.monoSnippets/";
$pathPIE: "ui/lib.PIE/build/PIE.htc";

$MNTextDelimitionFirefoxHacksEnabled: 0;

@import "../lib.monoSnippets/lib.monoSnippets";

@import "arboreal.style.includes.typography";
@import "arboreal.style.includes.positioning";
@import "arboreal.style.includes.swatches";
@import "arboreal.style.includes.animations";

@import "arboreal.style.general";
@import "arboreal.style.general.sidebar";

@import "arboreal.style.pages.portal";
@import "arboreal.style.pages.blog";
@import "arboreal.style.pages.fairtrade";
@import "arboreal.style.pages.pos";
@import "arboreal.style.pages.store";
@import "arboreal.style.pages.information";










@import "arboreal.style.retinal.css";





		
		.genericWrapping {
		
			@include inlineBlock;
			position: relative;
			
			padding: 3px;
			
			margin-top: 0.5 * $pack - 3px;
			margin-right: auto;
			margin-bottom: (0.5 * $pack - 3px);
			margin-left: auto;
			
			background-color: rgb(242, 242, 242);
			@include boxShadow(rgba(0, 0, 0, .25), 0px, 1px, 2px);
			
/*
	&:before, &:after {
	
		pointer-events:none;
	
		@include pseudoBlock;
		position: absolute;
		
		@include size(2 * $pack);
		background: url(../arboreal.images/arboreal.blogPost.decor.cornerStrap.png) center no-repeat;
	
	}
	
	&:before {
	
		left: -0.8125 * $pack;
		top: -0.8125 * $pack;
	
	}
	
	&:after {
	
		right: -0.8125 * $pack;
		bottom: -0.8125 * $pack;
	
	}
*/
			
			img {
			
			//	We need a block element so there is no residue whitespace below it
			
				display: block;
			
			}
		
		}
		
